<div class="image-grid">

	<% artists.each do |artist| %>

		<div class="entry <% if image_only %>image-only<%end%><% if columns == 2 %>col-2<%end%>">
			
			<% if user_signed_in? %>

				<div class="image-container">
					
					<%= link_to(artist_profile_path(artist.name)) do %>
						<%= image_tag artist.image.url, class: "grid-image"%>
					<% end %>

				</div>

			<%else%>

				<div class="image-container">

					<%= link_to(artist_profile_path(artist.name)) do %>

						<%= image_tag artist.image.url, class: "grid-image"%>

					<% end %>

				</div>

			<%end%>
			
				
			<% unless image_only %>

				<div class="detail-container">

					<a href="<%= artist_profile_path(artist.name) %>" class="artwork-metadata artist-name"><%= artist.name %></a>
					<br>

					<a href="<%= artist_profile_path(artist.name) %>" class="artwork-metadata"><b>Artworks:</b> <%= artist.item_arts.count %></a>
					<br>

		    	</div>

	    	<%end%>

		</div>

	<% end %>

</div>