
<div class="content">

  <%= form_for(@item_art) do |f| %>
  <% if @item_art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_art.errors.count, "error") %> prohibited this item_art from being saved:</h2>

      <ul>
      <% @item_art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content-column secondary">

    <div class="image-input-container centered">
      <h2>Upload a Photo of Your Art</h2>
      <%= f.file_field :image, required: true, class: "form-control" %>

    </div>

  </div>

  <div class="content-column primary left-border">

    <h2><%= f.text_field :name, placeholder: "Name/Title", required: true %></h2>


    <%= f.text_field :medium, placeholder: "Medium", required: true, class: "medium" %>

    <br>
    <br>

    <table class="dimension-table">

      <tr>
        
        <td>Dimensions:</td>
        <td><%= f.number_field :height, placeholder: "Height (cm)", required: true, class: "dimension" %></td>
        <td><%= f.number_field :width, placeholder: "Width (cm)", required: true, class: "dimension" %></td>
        <td><%= f.number_field :length, placeholder: "Length (cm)", class: "dimension" %></td>
        
      </tr>

    </table>

    <br>

    <%= f.number_field :price, placeholder: "Price", required: true, class: "price"  %>

    <br>
    <br>

    <h4 class="text-header-underline">About this Piece</h4>

    <%= f.text_area :description, required: true, placeholder: "A description of this piece.", class: "description"  %>

  </div>

    <div class="button-container">
      
      <%= f.submit "Add to My Portfolio", class: "button large orange-background" %>
      
    </div>

  <% end %>

</div>


