<%= form_for(@item_art) do |f| %>
  <% if @item_art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_art.errors.count, "error") %> prohibited this item_art from being saved:</h2>

      <ul>
      <% @item_art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.number_field :venue_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :search_code %><br>
    <%= f.text_field :search_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
