
<div class="content">

  <%= form_for(@item_art) do |f| %>
    <% if @item_art.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item_art.errors.count, "error") %> prohibited this item_art from being saved:</h2>

        <ul>
        <% @item_art.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="image-input-container centered">
      
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>

      <h2>Click to Upload a Photo of your Artwork</h2>
      <%= f.file_field :image, required: true, class: "form-control full-screen" %>

    </div>

    <div class="button-container">
        
      <%= f.submit "Next", class: "button large orange-background" %>
        
    </div>

  <% end %>


</div>
