<div class="image-grid">

	<% items.each do |item| %>

		<div class="entry <% if image_only %>image-only<%end%><% if columns == 2 %>col-2<%end%>">
			
			<% if user_signed_in? %>

				<%# if current_user.is_me(item.user) %>

					<%# link_to(item_art_detail_form_path(item.id)) do %>

<!-- 						<div class="image-container">

							<%= image_tag item.image.url, class: "grid-image"%>

						</div> -->

					<%# end %>

				<%#else%>

					<%= link_to(direct_link_to_item_art_path(item.search_code)) do %>

						<div class="image-container">

							<%= image_tag item.image.url, class: "grid-image"%>

						</div>

					<% end %>

				<%#end%>


			<%else%>

				<%= link_to(direct_link_to_item_art_path(item.search_code)) do %>

					<div class="image-container">

						<%= image_tag item.image.url, class: "grid-image"%>

					</div>

				<% end %>

			<%end%>
			
				

			<% unless image_only %>

				<div class="detail-container">

					<a class="artwork-metadata artist-name"><%= item.artist.name %></a>
					<br>


					<a class="artwork-metadata"><i><%= item.name %></i>, <%= item.year_of_creation %></a>
					<br>

					<a class="artwork-metadata"><%= number_to_currency(item.price, precision: 0) %><% if item.sold %> (Sold)<%end%></a>
					<br>

					<a class="artwork-metadata" href="<%= direct_link_to_item_art_path(item.search_code) %>">ArtYam.com/<span style="color: red;"><%= item.search_code %></span></a>
					

					<!-- <br> -->
					<!-- <p><%# unless item.sold or item.is_set_to_sold %><a class="mark-as-sold green-background" data-item-id="<%= item.id %>">Mark as Sold</a><%#end%></p> -->

		    	</div>

	    	<%end%>

		</div>

	<% end %>

</div>