
<div class="content">

  <%= form_for(@item_art) do |f| %>
    
    <% if @item_art.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@item_art.errors.count, "error") %> prohibited this item_art from being saved:</h2>

        <ul>
        <% @item_art.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    	<h2>Artwork Details</h2>

      <br>

      <label>Image</label>

      <br>

      <div style="position:relative; display: inline-block;">
        <%= image_tag @item_art.image.url, class: "item-art-medium-image" %>
        <%= f.file_field :image, class: "form-control clickable fill-container clear" %>
      </div>

      <br>
      <br>

      <label>Name</label>

      <br>

      <%= f.text_field :name, placeholder: "Name/Title", required: true %>

      <br>
      <br>

      <label>Medium</label>

      <br>

      <%= f.text_field :medium, placeholder: "Medium", required: true, class: "medium" %>

      <br>
      <br>

      <label>Description of this Piece</label>

      <br>

      <%= f.text_area :description, required: true, placeholder: "A description of this piece.", class: "description"  %>

      <br>
      <br>

      <label>Dimensions (inches)</label>

      <br>

      <%= f.number_field :height, placeholder: "Height", required: true, class: "dimension" %>

      <%= f.number_field :width, placeholder: "Width", required: true, class: "dimension" %>

      <%= f.number_field :length, placeholder: "Length", class: "dimension" %>

      <br>
      <br>

      <label>Price</label>

      <br>

      <%= f.number_field :price, placeholder: "Price", required: true, class: "price"  %>

      <br>
      <br>

      <label>Pickup Instruction</label>

      <br>

      <% if @item_art.pickup_instructions %>

        <%= f.text_area :pickup_instructions, required: true, class: "description" %>

      <%else%>

        <% if @last_pickup_instructions %>

          <%= f.text_area :pickup_instructions, required: true, placeholder: @last_pickup_instructions, class: "description" %>

        <%else%>

          <%= f.text_area :pickup_instructions, required: true, placeholder: "Briefly explain who the buyer should contact in order to take possession of this piece (e.g., you, venue manager, etc.).", class: "description" %>

        <%end%>

      <%end%>

    <% if current_user.is_admin %>
      Sample?
      <%= f.check_box :is_sample %>
      <br>
    <%end%>

    <br><br>

    <%= f.submit "Save Details", class: "button large bright-blue-background" %>

  <% end %>

</div>
