<% if flash[:error] %>

  <div class="notice red">

        <span class="glyphicon glyphicon-remove dismiss-parent"></span>

        <p class="notice-content">
          <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:error] %>
        </p>

  </div>

<%end%>

<div class="artwork-container">



   <div class="artwork-info">

    <div class="detail-section">
      
      <a class="artist-name">[Artist Name]</a>
      <%# unless @item_art.is_sample && @item_art.sample_name %><%# link_to @item_art.user.display_name, profile_path(@item_art.user.display_name), class: "artist-name" %><%#else%><%# @item_art.sample_name class: "artist-name" %><%#end%>
    
    </div>

    <div class="detail-section">
      <a><span class="artwork-name"><%= @item_art.name %></span>, [year]</a>
    </div>

    <div class="detail-section">

      <a><%= @item_art.medium %></a>

    </div>

    <div class="detail-section">

      <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in</a>

      <br>

      <a><%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>

    </div>

    <div class="detail-section top-and-bottom-border">

      <a class="darker-text"><%= number_to_currency(@item_art.price, precision: 0) %></a>

    </div>

    <div class="detail-section">

      <a class="darker-text">OFFERED BY</a>

      <br>

      <a class="darker-text">[Gallery Name Placeholder]</a>

      <br>
      <br>

      <a>Show Phone Number</a>

    </div>

    <div class="detail-section">

      <%= render :partial => 'item_arts/buy_cta', :locals => {:item_art => @item_art} %>

      <a class="button wide red-frame">Email this to Me</a>

    </div>


  </div>


  <div class="artwork-image">

    <div class="artwork-image-container">

      <%= image_tag @item_art.image.url, class: "artwork-main-image" %>

      <div class="artwork-actions centered">[actions]</div>

    </div>

    <div class="artwork-about-section">

      <% if @item_art.description.length > 0 %>
    
        <h4 class="text-header-underline">ABOUT THE WORK</span></h4>

        <p><%= @item_art.description %></p>

      <%end%>

    </div>

    <div class="artwork-about-gallery-section">
    
        <h3>[Gallery name]</h3>

        <p>[City | State]</p>

        <p><%= @item_art.description %></p>

    </div>


    <div class="artwork-about-artist-section">

      <% if @item_art.user.about.length > 0 %>

        <h4 class="text-header-underline">About the Artist</h4>

        <p><% unless @item_art.is_sample && @item_art.sample_name %><%= @item_art.user.about %><%else%><%= @item_art.sample_name %> is an innovative artist. The rest of this section is sample text.  This section is fully editable by the artist and typically includes their artist statement.<%end%></p>

      <%end%>

    </div>


     <div class="artwork-more-work-section">

        <% if @more_work_from_artist.count > 0 %>
    
          <h4 class="text-header-underline">More Work by <% unless @item_art.is_sample && @item_art.sample_name %><%= link_to @item_art.user.display_name, profile_path(@item_art.user.display_name) %><%else%><%= @item_art.sample_name %><%end%></h4>

          <div class="portfolio">

              <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

          </div>

        <%end%>


     </div>


  </div>



</div>


<% if user_signed_in? %>
  
  <%= render 'messages/modal_form' %>

<%else%>
  
  <%# render :partial => 'modals/email_to_me', :locals => {:item => @item_art} %>

<%end%>
