<% if flash[:error] %>

  <div class="notice red">

        <span class="glyphicon glyphicon-remove dismiss-parent"></span>

        <p class="notice-content">
          <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:error] %>
        </p>

  </div>

<%end%>


<div class="artwork-container">


  <div class="artwork-info">

    <div class="detail-section">
      
      <a class="artist-name"><%= @item_art.artist.name %></a>
    
    </div>

    <div class="detail-section">
      <a><span class="artwork-name"><%= @item_art.name %></span>, <%= @item_art.year_of_creation %></a>
    </div>

    <div class="detail-section">

      <a><%= @item_art.medium %></a>

    </div>

    <div class="detail-section">

      <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in</a>

      <br>

      <a><%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>

    </div>

    <div class="detail-section top-and-bottom-border">

      <a class="darker-text"><%= number_to_currency(@item_art.price, precision: 0) %></a>

    </div>

    <div class="detail-section">

      <a class="darker-text">OFFERED BY</a>

      <br>

      <a class="darker-text"><%= @item_art.artist.gallery.name %></a>

      <br>
      <br>

      <a>Show Phone Number</a>

    </div>

    <div class="detail-section">

      <%= render :partial => 'item_arts/buy_cta', :locals => {:item_art => @item_art} %>

      <a class="button wide side-panel red-frame">Email this to Me</a>

    </div>


  </div>


  <div class="artwork-image">

    <div class="artwork-image-container">

      <%= image_tag @item_art.image.url, class: "artwork-main-image" %>

      <div class="artwork-actions centered">

        <a class="action">F</a>
        <a class="action">T</a>
        <a class="action">P</a>


      </div>

    </div>

  </div>


  <div class="artwork-detailed-summary">

    <div class="artwork-summary-section for-mobile-only">

      <a><b><%= @item_art.artist.name %></b></a>
      <br>

      <a><span class="artwork-name"><%= @item_art.name %></span>, <%= @item_art.year_of_creation %></a>

    </div>


    <div class="artwork-summary-section for-mobile-only">

      <div class="sub-section">

        <a>Price:</a>

        <a style="float: right;"><%= number_to_currency(@item_art.price, precision: 0) %></a>

      </div>

      <div class="sub-section">
        <a><b>DETAILS</b></a>
        <br><br>
        <a><%= @item_art.medium %></a>
        <br>
        <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in, <%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>
      </div>

      <% if @item_art.artist.gallery %>

        <a><b>GALLERY</b></a>
        <br><br>
        <a><%= @item_art.artist.gallery.name %></a><br>
        <a><%= @item_art.artist.gallery.city %><% if @item_art.artist.gallery.city && @item_art.artist.gallery.state_province %>, <%end%> <%= @item_art.artist.gallery.state_province %></a>

      <%end%>

      <% if @item_art.show %>
        <br><br>
        <a><b>SHOW</b></a>
        <br><br>
        <a><%= @item_art.show.name %></a><br>
        <a><%= @item_art.show.begin_date.strftime("%b %e") %> to <%= @item_art.show.end_date.strftime("%b %e") %></a>

      <%end%>


    </div>


    <% if @item_art.description.length > 0 %>


      <div class="artwork-summary-section for-mobile-only">

        <h5>About the Work</h5>

        <a class="secondary-grey-text"><i><%= @item_art.name %></i></a>

        <br><br>

        <p><%= @item_art.description %></p>

      </div>

    <%end%>

    <% if @item_art.artist.biography or @item_art.artist.artist_statement %>
    
      <div class="artwork-summary-section for-mobile-only">

          <div class="sub-section">

            <h5>About the Artist</h5>

            <a class="secondary-grey-text"><%= @item_art.artist.name %></a>

            <br><br>

            <% if @item_art.artist.biography%>

              <p class="click-to-toggle" data-reveal-panel-id="biography">Biography<span class="glyphicon glyphicon-chevron-down" style="margin-left: 5px;"></span></p>

              <div class="reveal-panel default-off" id="biography">

                <p class="hidden-content"><%= @item_art.artist.biography%></p>

                <p><%= @item_art.artist.nationality %>, b. <%= @item_art.artist.birth_year %></p>
        

              </div>



            <%end%>

            <br><br>

            <% if @item_art.artist.artist_statement%>

              <p class="click-to-toggle" data-reveal-panel-id="artist-statement">Artist Statement<span class="glyphicon glyphicon-chevron-down" style="margin-left: 5px;"></span></p>

              <div class="reveal-panel default-off" id="artist-statement">

                 <p class="hidden-content"><%= @item_art.artist.artist_statement%></p>

              </div>

            <%end%>

          </div>

          <div class="outbound-link">
            <a>Go to <%= @item_art.artist.name.possessive %> Artist Page<span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
          </div>

      </div>

    <%end%>

    <div class="artwork-summary-section for-mobile-only">

        <div class="sub-section">

          <h5>About the Gallery</h5>

          <a class="secondary-grey-text"><%= @item_art.artist.gallery.name %></a>

          <br><br>

          <p><%= @item_art.artist.gallery.about %></p>

        </div>

        <div class="outbound-link">
          <a>Go to <%= @item_art.artist.gallery.name.possessive %> Gallery Page <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>

        
    </div>



    <% if @item_art.description.length > 0 %>

      <div class="artwork-summary-section full-size">

        <div class="artwork-summary-section-header">

          <h4 class="text-header-underline">About the Work</span></h4>

        </div>


        <div class="artwork-summary-section-body">

          <p><%= @item_art.description %></p>

        </div>

      </div>

    <%end%>


    <% if @item_art.artist.artist_statement or @item_art.artist.biography %>

      <div class="artwork-summary-section full-size">

        <h3>About <%= @item_art.artist.name %></h3>

        <div class="artwork-summary-section-header">

          <% if @item_art.artist.biography %>

          <a class="click-to-reveal active clickable" data-reveal-panel-id="biography-1">BIOGRAPHY</span></a>

          <br>
          <br>

          <% end %>

          <% if @item_art.artist.artist_statement %>
            
            <a class="click-to-reveal clickable" data-reveal-panel-id="artist-statement-1">ARTIST STATEMENT</span></a>
          
          <%end%>

        </div>


        <div class="artwork-summary-section-body">

          <div class="reveal-panel" id="biography-1">

            <p><%= @item_art.artist.biography %></p>
    
            <p><%= @item_art.artist.nationality %>, b. <%= @item_art.artist.birth_year %></p>
          
          </div>

          <div class="reveal-panel default-off" id="artist-statement-1">
            
            <p><%= @item_art.artist.artist_statement %></p>
    
          </div>

          <div class="outbound-link">
            <a>Go to <%= @item_art.artist.name.possessive %> artist page<span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
          </div>
          
        </div>

      </div>

    <%end%>


    <% if @item_art.artist.gallery %>
    
      <div class="artwork-summary-section full-size">

        <div class="artwork-summary-section-header centered">

          <%= image_tag @item_art.artist.gallery.image.url, class: "medium-profile-image" %>

        </div>


        <div class="artwork-summary-section-body">

          <h3><%= @item_art.artist.gallery.name %></h3>

          <h4><%= @item_art.artist.gallery.city %><% if @item_art.artist.gallery.city && @item_art.artist.gallery.state_province %>, <%end%> <%= @item_art.artist.gallery.state_province %></h4>

          <p><%= @item_art.artist.gallery.about %></p>

          <div class="outbound-link">
            <a>Go to <%= @item_art.artist.gallery.name.possessive %> gallery page<span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
          </div>
          
        </div>

      </div>

    <%end%>



    <% if @item_art.show %>

      <% if @item_art.show.other_work_in_this_show(@item_art.id, 3).count > 1 %>
      
        <div class="artwork-summary-section">

          <h3>Other Works in This Show</h3>

          <%= render :partial => 'item_arts/index_grid', :locals => {:items => @item_art.show.other_work_in_this_show(@item_art.id, 3).reverse, :image_only => false, :columns => 3} %>

          <div class="outbound-link">
              <a>Go to the show page for <%= @item_art.show.name %><span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
          </div>

        </div>

      <%end%>

    <% end %>


    <div class="artwork-summary-section">

      <h3>Other Works by <%= @item_art.artist.name %></h3>

      <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>

      <div class="outbound-link">
          <a>See all <%= @item_art.artist.item_arts.count %> works by <%= @item_art.artist.name %><span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
      </div>

    </div>


    <div class="artwork-summary-section">

      <h3>Other Works Offered by <%= @item_art.artist.gallery.name %></h3>

      <%= render :partial => 'item_arts/index_grid', :locals => {:items => @item_art.artist.gallery.more_work(@item_art.id, 3), :image_only => false, :columns => 3} %>


      <div class="outbound-link">
          <a>See all <%= @item_art.artist.gallery.item_arts.count %> works from <%= @item_art.artist.gallery.name %><span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
      </div>

    </div>


    <% if @hidden_for_now %>

      <div class="artwork-summary-section">

        <h3>Related Works</h3>

        <div class="artwork-summary-section-header">

          <a class="clickable">MOST SIMILAR</span></a>

          <br>

          <a class="clickable">[MEDIUM]</span></a>

          <br>

          <a class="clickable">[CITY]</span></a>

        </div>


        <div class="artwork-summary-section-body">

          <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>
          
          <div class="outbound-link">
            <a>See more related works<span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
          </div>

        </div>


      </div>

    <%end%>


    <div class="artwork-summary-section">

      <h3>Related Artists</h3>

        <%= render :partial => 'artists/index_grid', :locals => {:artists => @item_art.artist.related_artists, :image_only => false, :columns => 3} %>


        <div class="outbound-link">
          <a>See more artists similar to <%= @item_art.artist.name %><span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px;"></span></a>
      </div>



    </div>


    <div class="artwork-summary-section">

      <h3>Recently Viewed</h3>

        <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>

    </div>


  </div>


</div>



<%= render :partial => 'item_arts/fixed_mobile_cta', :locals => {:item_art => @item_art} %>



<% if user_signed_in? %>
  
  <%# render 'messages/modal_form' %>

<%else%>
  
  <%# render :partial => 'modals/email_to_me', :locals => {:item => @item_art} %>

<%end%>

