<% if flash[:error] %>

  <div class="notice red">

        <span class="glyphicon glyphicon-remove dismiss-parent"></span>

        <p class="notice-content">
          <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:error] %>
        </p>

  </div>

<%end%>


<div class="artwork-container">


  <div class="artwork-info">

    <div class="detail-section">
      
      <a class="artist-name"><%= @item_art.artist.name %></a>
    
    </div>

    <div class="detail-section">
      <a><span class="artwork-name"><%= @item_art.name %></span>, <%= @item_art.year_of_creation %></a>
    </div>

    <div class="detail-section">

      <a><%= @item_art.medium %></a>

    </div>

    <div class="detail-section">

      <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in</a>

      <br>

      <a><%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>

    </div>

    <div class="detail-section top-and-bottom-border">

      <a class="darker-text"><%= number_to_currency(@item_art.price, precision: 0) %></a>

    </div>

    <div class="detail-section">

      <a class="darker-text">OFFERED BY</a>

      <br>

      <a class="darker-text"><%= @item_art.artist.gallery.name %></a>

      <br>
      <br>

      <a>Show Phone Number</a>

    </div>

    <div class="detail-section">

      <%= render :partial => 'item_arts/buy_cta', :locals => {:item_art => @item_art} %>

      <a class="button wide red-frame">Email this to Me</a>

    </div>


  </div>


  <div class="artwork-image">

    <div class="artwork-image-container">

      <%= image_tag @item_art.image.url, class: "artwork-main-image" %>

      <div class="artwork-actions centered">

        <a class="action">F</a>
        <a class="action">T</a>
        <a class="action">P</a>


      </div>

    </div>

  </div>


  <div class="artwork-detailed-summary">

    <div class="artwork-summary-section for-mobile-only">

      <a><b><%= @item_art.artist.name.upcase %></b></a>
      <br>

      <a><span class="artwork-name"><%= @item_art.name %></span>, <%= @item_art.year_of_creation %></a>

    </div>


    <div class="artwork-summary-section for-mobile-only">

      <div class="sub-section">

        <a>Price:</a>

        <a style="float: right;"><%= number_to_currency(@item_art.price, precision: 0) %></a>

      </div>

      <div class="sub-section">
        <h5>DETAILS</h5>
        <a><%= @item_art.medium %></a>
        <br>
        <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in, <%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>
      </div>

      <h5>GALLERY</h5>
      <a><%= @item_art.artist.gallery.name %><span class="glyphicon glyphicon-chevron-right" style="margin-left: 5px;"></span></a>


    </div>


    <% if @item_art.description.length > 0 %>


      <div class="artwork-summary-section for-mobile-only">

        <h5>ABOUT THE WORK</h5>

        <p><%= @item_art.description %></p>

      </div>

    <%end%>


    <div class="artwork-summary-section for-mobile-only">

        <div class="sub-section">

          <h5>ABOUT THE ARTIST</h5>

          <p><%= @item_art.artist.name %></p>

        </div>


        <a>GO TO <%= @item_art.artist.name.upcase.possessive %> ARTIST PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>

    </div>

    <div class="artwork-summary-section for-mobile-only">

        <div class="sub-section">

          <h5>ABOUT THE GALLERY</h5>

          <p><%= @item_art.artist.gallery.name %></p>


        </div>

        <a>GO TO <%= @item_art.artist.gallery.name.upcase.possessive %> GALLERY PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>

    </div>



    <% if @item_art.description.length > 0 %>

      <div class="artwork-summary-section full-size">

        <div class="artwork-summary-section-header">

          <h4 class="text-header-underline">ABOUT THE WORK</span></h4>

        </div>


        <div class="artwork-summary-section-body">

          <p><%= @item_art.description %></p>

        </div>

      </div>

    <%end%>




    <div class="artwork-summary-section full-size">

      <h3>About <%= @item_art.artist.name %></h3>

      <div class="artwork-summary-section-header">

        <a class="click-to-reveal active clickable" data-reveal-panel-id="biography">BIOGRAPHY</span></a>

        <br>
        <br>

        <a class="click-to-reveal inactive-option-text clickable" data-reveal-panel-id="artist-statement">ARTIST STATEMENT</span></a>

      </div>


      <div class="artwork-summary-section-body">

        <div class="reveal-panel" id="biograghy">

          <p><%= @item_art.artist.biography %></p>
  
          <p><%= @item_art.artist.nationality %>, b. <%= @item_art.artist.birth_year %></p>
        
        </div>

        <div class="reveal-panel default-off" id="artist-statement">
          
          <p><%= @item_art.artist.artist_statement %></p>
  
        </div>

        <div class="outbound-link">
          <a>GO TO <%= @item_art.artist.name.upcase.possessive %> ARTIST PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>
        
      </div>

    </div>


    <div class="artwork-summary-section">

      <div class="artwork-summary-section-header centered">

        <%= image_tag @item_art.artist.image.url, class: "medium-profile-image" %>

      </div>


      <div class="artwork-summary-section-body">

        <h3><%= @item_art.artist.gallery.name %></h3>

        <h4><%= @item_art.artist.gallery.city %> | <%= @item_art.artist.gallery.state_province %></h4>

        <p><%= @item_art.artist.gallery.about %></p>

        <div class="outbound-link">
          <a>GO TO <%= @item_art.artist.gallery.name.upcase.possessive %> GALLERY PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>
        
      </div>

    </div>




    <div class="artwork-summary-section">

      <h3>Other Works by <%= @item_art.artist.name %></h3>

      <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>

      <div class="outbound-link">
          <a>SEE ALL <%= @item_art.artist.item_arts.count %> WORKS BY <%= @item_art.artist.name.upcase %> <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>

    </div>


    <div class="artwork-summary-section">

      <h3>Other Works Offered by <%= @item_art.artist.gallery.name.upcase %></h3>

      <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>


      <div class="outbound-link">
          <a>SEE ALL <%= @item_art.artist.item_arts.count %> WORKS FROM <%= @item_art.artist.gallery.name.upcase %> <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>

    </div>



    <div class="artwork-summary-section">

      <h3>Related Works</h3>

      <div class="artwork-summary-section-header">

        <a class="clickable">MOST SIMILAR</span></a>

        <br>

        <a class="clickable inactive-option-text">[MEDIUM]</span></a>

        <br>

        <a class="clickable inactive-option-text">[CITY]</span></a>

      </div>


      <div class="artwork-summary-section-body">

        <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>
        
        <div class="outbound-link">
          <a>SEE MORE RELATED WORKS <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>

      </div>




    </div>


    <div class="artwork-summary-section">

      <h3>Related Artists</h3>

        <%= render :partial => 'artists/index_grid', :locals => {:artists => @item_art.artist.related_artists, :image_only => false, :columns => 3} %>


        <div class="outbound-link">
          <a>SEE MORE ARTISTS SIMILAR TO <%= @item_art.artist.name.upcase %> <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>



    </div>


    <div class="artwork-summary-section">

      <h3>Recently Viewed</h3>

        <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => false, :columns => 3} %>


      <div class="outbound-link">
          <a>SEE ALL RECENTLY VIEWED WORKS <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>

    </div>


  </div>


</div>


<% unless @item_art.sold %>
      
    <%= form_tag start_checkout_path do %>

      <input type="hidden" name="itemID" value="<%= @item_art.id %>">

      <input type="submit" value="Buy for <%= number_to_currency(@item_art.price, precision: 0) %>" class="button green-background item-buy-action fixed-bottom-cta mobile-only">

  <%end%>
  
  <%else%>

    <a class="button green-background fixed-bottom-cta mobile-only"><span class="glyphicon glyphicon-ok"  aria-hidden="true" style="margin-right: 5px;"></span>Sold</a>
    
<%end%>


<%# render 'item_arts/fixed_mobile_cta', :locals => {:item_art => @item_art} %>

<% if user_signed_in? %>
  
  <%# render 'messages/modal_form' %>

<%else%>
  
  <%# render :partial => 'modals/email_to_me', :locals => {:item => @item_art} %>

<%end%>

