
<div class="medium-content">

    <div class="item-art-form-header">

      <div class="left">
        <h2><%= @item_art.name %></h2>
      </div>

      <div class="right">
        <%= @item_art.price %>
      </div>

    </div>

    <div class="item-art-form-row">

      <p><%= @item_art.medium %> , <%= @item_art.height %> H X <%= @item_art.width %> W <% if @item_art.length %> X <%= @item_art.length %> L<%end%></p>

    </div>

    <div class="item-art-form-row">

      <table class="dimension-table">

        <tr>
          <td></td>
          <td>Length (cm)</td>
          <td>Width (cm)</td>
          <td>Height (cm)</td>
        </tr>
        <tr>
          <td>Dimensions:</td>
          <td><%= @item_art.length %></td>
          <td><%= @item_art.width %></td>
          <td><%= @item_art.height %></td>
        </tr>

      </table>

    </div>
    
    <div class="image-input-container centered">
      
      <%= image_tag @item_art.image.url, class: "item-art-main-image" %>

    </div>

    <div class="item-art-form-header">

      <div class="left">
        <p>About</p>
      </div>

    </div>

    <div class="field">
      <p><%= @item_art.description  %></p>
    </div>

</div>
