
<% if flash[:error] %>

  <div class="notice red">

        <span class="glyphicon glyphicon-remove dismiss-parent"></span>

        <p class="notice-content">
          <span class="glyphicon glyphicon-exclamation-sign"></span> <%= flash[:error] %>
        </p>

  </div>

<%end%>


<div class="artwork-container">


  <div class="artwork-info">

    <div class="detail-section">
      
      <a class="artist-name">[Artist Name]</a>
      <%# unless @item_art.is_sample && @item_art.sample_name %><%# link_to @item_art.user.display_name, profile_path(@item_art.user.display_name), class: "artist-name" %><%#else%><%# @item_art.sample_name class: "artist-name" %><%#end%>
    
    </div>

    <div class="detail-section">
      <a><span class="artwork-name"><%= @item_art.name %></span>, [year]</a>
    </div>

    <div class="detail-section">

      <a><%= @item_art.medium %></a>

    </div>

    <div class="detail-section">

      <a><%= @item_art.height.to_i %> x <%= @item_art.width.to_i %> <% if @item_art.length %> x <%= @item_art.length.to_i %><%end%> in</a>

      <br>

      <a><%= @item_art.height.to_i * 2.54 %> x <%= @item_art.width.to_i * 2.54  %> <% if @item_art.length %> x <%= @item_art.length.to_i * 2.54 %><%end%> cm</a>

    </div>

    <div class="detail-section top-and-bottom-border">

      <a class="darker-text"><%= number_to_currency(@item_art.price, precision: 0) %></a>

    </div>

    <div class="detail-section">

      <a class="darker-text">OFFERED BY</a>

      <br>

      <a class="darker-text">[Gallery Name Placeholder]</a>

      <br>
      <br>

      <a>Show Phone Number</a>

    </div>

    <div class="detail-section">

      <%= render :partial => 'item_arts/buy_cta', :locals => {:item_art => @item_art} %>

      <a class="button wide red-frame">Email this to Me</a>

    </div>


  </div>


  <div class="artwork-image">

    <div class="artwork-image-container">

      <%= image_tag @item_art.image.url, class: "artwork-main-image" %>

      <div class="artwork-actions centered">[actions]</div>

    </div>



    <% if @item_art.description.length > 0 %>

      <div class="artwork-summary-section">

        <div class="artwork-summary-section-header">

          <h4 class="text-header-underline">ABOUT THE WORK</span></h4>

        </div>


        <div class="artwork-summary-section-body">

          <p><%= @item_art.description %></p>

        </div>

      </div>

    <%end%>




    <div class="artwork-summary-section">

      <h3>About Artist Name</h3>

      <div class="artwork-summary-section-header">

        <a class="clickable">BIOGRAPHY</span></a>

        <br>
        <br>

        <a class="clickable inactive-option-text">ARTIST STATEMENT</span></a>

      </div>


      <div class="artwork-summary-section-body">

        <p>Lots of stuff here and here and here.  Will need additional db work and text formatter.</p>

        <p>[Nationality], b. 1988</p>

        <div class="outbound-link">
          <a>GO TO [artist's] ARTIST PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>
        
      </div>

    </div>


    <div class="artwork-summary-section">

      <div class="artwork-summary-section-header">

        [img]

      </div>


      <div class="artwork-summary-section-body">

        <h3>[Gallery name]</h3>

        <h4>[City | State]</h4>

        <p><%= @item_art.description %></p>

        <div class="outbound-link">
          <a>GO TO [gallery's] GALLERY PAGE <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
        </div>
        
      </div>

    </div>




    <div class="artwork-summary-section">

      <h3>Other Works by [Artist]</h3>

      <div class="portfolio">

        <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

      </div>

      <div class="outbound-link">
          <a>SEE ALL <%= @item_art.user.item_arts.count %> WORKS BY [ARTIST] <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>

    </div>


    <div class="artwork-summary-section">

      <h3>Other Works by [Gallery]</h3>

      <div class="portfolio">

        <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

      </div>

      <div class="outbound-link">
          <a>SEE ALL <%= @item_art.user.item_arts.count %> WORKS FROM [GALLERY] <span class="glyphicon glyphicon-arrow-right" style="margin-left: 15px;"></span></a>
      </div>

    </div>



    <div class="artwork-summary-section">

      <h3>Related Works</h3>

      <div class="artwork-summary-section-header">

        <a class="clickable">MOST SIMILAR</span></a>

        <br>

        <a class="clickable inactive-option-text">[MEDIUM]</span></a>

        <br>

        <a class="clickable inactive-option-text">[CITY]</span></a>

      </div>


      <div class="artwork-summary-section-body">

        <div class="portfolio">

          <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

        </div>
        
      </div>

    </div>


    <div class="artwork-summary-section">

      <h3>Related Artists</h3>

        <div class="portfolio">

          <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

        </div>

    </div>


    <div class="artwork-summary-section">

      <h3>Recently Viewed</h3>

        <div class="portfolio">

          <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

        </div>

    </div>


  </div>


</div>


<% if user_signed_in? %>
  
  <%= render 'messages/modal_form' %>

<%else%>
  
  <%# render :partial => 'modals/email_to_me', :locals => {:item => @item_art} %>

<%end%>
