<div class="content">

  <div class="content-column primary">

    <%= image_tag @item_art.image.url, class: "item-art-main-image" %>

  </div>

  <div class="content-column secondary left-border">

    <h2><%= @item_art.name %></h2>

    <p><%= @item_art.medium %></p>

    <p><%= @item_art.height.to_i %> H X <%= @item_art.width.to_i %> W <% if @item_art.length %> X <%= @item_art.length.to_i %> L<%end%></p>

    <br>

    <a class="button large blue-background">Buy for <%= number_to_currency(@item_art.price) %></a>

    <p><%= @item_art.search_code %></p>

        <%= form_tag charges_path id: 'chargeForm' do %>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>  
          <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>I want this!</button>
          <script>
          var handler = StripeCheckout.configure({
            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
            token: function(token, arg) {
              document.getElementById("stripeToken").value = token.id;
              document.getElementById("stripeEmail").value = token.email;
              document.getElementById("chargeForm").submit();
            }
          });
           document.getElementById('btn-buy').addEventListener('click', function(e) {
            handler.open({
              name: 'One Month',
              description: 'Growth Hacking Crash Course ($4.99)',
              amount: 499
          });
          e.preventDefault();
         })
        </script>
      <% end %>
    <br>

    <h4 class="text-header-underline">About this Piece</h4>

    <p><%= @item_art.description %></p>

    <br>

    <h4 class="text-header-underline">About the Artist</h4>

    <p><%= image_tag @item_art.user.image.url(:medium), class: "header-profile-image"%><%= @item_art.user.display_name %></p>

    <p><%= @item_art.user.about %></p>

    <br>
    
    <a class="message-modal modal-cta button large red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Message the Artist</a>

  </div>




  <div class="medium-content" style="display: none;">

      <div class="item-art-form-header">

        <div class="left">
          <h2><%= @item_art.name %></h2>
        </div>

        <div class="right">
          <a class="button large blue-background">Buy for <%= number_to_currency(@item_art.price) %></a>
        </div>

      </div>

      <div class="item-art-form-row">

        <p><%= @item_art.medium %>, <%= @item_art.height.to_i %> H X <%= @item_art.width.to_i %> W <% if @item_art.length %> X <%= @item_art.length.to_i %> L<%end%></p>

      </div>
      
      <div class="image-input-container centered">
        
        <%= image_tag @item_art.image.url, class: "item-art-main-image" %>

      </div>

      <div class="item-art-form-header">

          <p>About</p>

      </div>

      <div class="field">
        <p><%= @item_art.description %></p>
      </div>

      <br>
      
      <div class="item-art-form-header">

        <div class="left">
          
          <p>The Artist</p>

        </div>

        <div class="right">

          <a class="message-modal modal-cta button medium red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span></a>

        </div>

      </div>

      <div class="field">
        <p><%= @item_art.user.about %></p>
      </div>

  </div>

</div>

<%= render 'messages/modal_form' %>
