


  <div class="artwork-image">

    <div class="artwork-image-container">

      <%= image_tag @item_art.image.url, class: "artwork-main-image" %>

      <div class="artwork-actions centered">[actions]</div>

    </div>

    <div class="artwork-about-section">

      <% if @item_art.description.length > 0 %>
    
        <h4 class="text-header-underline">ABOUT THE WORK</span></h4>

        <p><%= @item_art.description %></p>

      <%end%>

    </div>

    <div class="artwork-about-gallery-section">
    
        <h3>[Gallery name]</h3>

        <p>[City | State]</p>

        <p><%= @item_art.description %></p>

    </div>


    <div class="artwork-about-artist-section">

      <% if @item_art.user.about.length > 0 %>

        <h4 class="text-header-underline">About the Artist</h4>

        <p><% unless @item_art.is_sample && @item_art.sample_name %><%= @item_art.user.about %><%else%><%= @item_art.sample_name %> is an innovative artist. The rest of this section is sample text.  This section is fully editable by the artist and typically includes their artist statement.<%end%></p>

      <%end%>

    </div>


     <div class="artwork-more-work-section">

        <% if @more_work_from_artist.count > 0 %>
    
          <h4 class="text-header-underline">More Work by <% unless @item_art.is_sample && @item_art.sample_name %><%= link_to @item_art.user.display_name, profile_path(@item_art.user.display_name) %><%else%><%= @item_art.sample_name %><%end%></h4>

          <div class="portfolio">

              <%= render :partial => 'item_arts/index_grid', :locals => {:items => @more_work_from_artist.reverse, :image_only => true, :columns => 3} %>

          </div>

        <%end%>


     </div>


  </div>



</div>


<% if user_signed_in? %>
  
  <%= render 'messages/modal_form' %>

<%else%>
  
  <%# render :partial => 'modals/email_to_me', :locals => {:item => @item_art} %>

<%end%>
