<div class="content">

  <div class="content-column primary">

    <%= image_tag @item_art.image.url, class: "item-art-main-image" %>

  </div>

  <div class="content-column secondary left-border">

    <div class="left">

        <h2><%= @item_art.name %></h2>

      </div>

      <div class="right">

        <h4><%= number_to_currency(@item_art.price) %></h4>

    </div>

    <p><%= @item_art.medium %></p>

    <p><%= @item_art.height.to_i %> H X <%= @item_art.width.to_i %> W <% if @item_art.length %> X <%= @item_art.length.to_i %> L<%end%></p>

    <br>

    <div class="item-side-panel" id="info">

    <p><%= @item_art.search_code %></p>

    <a id="item-buy-cta" class="button blue-background large item-buy-action">Buy for <%= number_to_currency(@item_art.price) %></a>

    <br>

    <h4 class="text-header-underline">About this Piece</h4>

    <p><%= @item_art.description %></p>

    <br>

    <h4 class="text-header-underline">About the Artist</h4>

    <p><%= image_tag @item_art.user.image.url(:medium), class: "header-profile-image"%><%= @item_art.user.display_name %></p>

    <p><%= @item_art.user.about %></p>

    <br>
    
    <a class="message-modal modal-cta button large red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Message the Artist</a>
  
  </div>

    <%= form_tag charges_path, id: 'chargeForm' do %>

      <div class="item-side-panel click-to-open" id="payment-detail-form" style="display: none;">

        <%= hidden_field_tag 'amount', (@item_art.price * 100).to_i %> 
        
        <%= hidden_field_tag 'itemArtID', @item_art.id %> 
          
          <% if user_signed_in?%>

            <%= hidden_field_tag 'user_id', current_user.id %> 

          <%end%>

        <h4>1. Enter Payment Information</h4>

        <div class="purchase-step-content">

          <table class="card-form">

            <tr>

              <td colspan="3"><input type="text" placeholder="Name on Card" name="nameOnCard"></input></td>

            </tr>

            <tr>

              <td colspan="3"><input type="text" placeholder="Card Number" name="cardNumber" id="cardNumberInput"></input></td>

            </tr>

            <tr>

              <td><input type="text" placeholder="EXP Month" name="expMonth"></input></td>
              <td><input type="text" placeholder="EXP Year" name="expYear"></input></td>
              <td><input type="text" placeholder="CVC" name="cvc"></input></td>

            </tr>

          </table>

          <br>

          <a id="payment-detail-continue" class="button blue-background large item-buy-action">Continue</a>

        </div>

      </div>

      <div class="item-side-panel click-to-open" id="delivery-option-form" style="display: none;">

        <h4>2. Select Delivery Option</h4>

        <div class="purchase-step-content">

          <input type="radio" name="delivery-option" value="pickup" id="delivery-pickup" checked>Pickup<br>

          <%unless user_signed_in? %>

            <div id="pickup-contact-details">

              <br>

              <input type="text" placeholder="Contact Email" name="email" id="emailInput" style="width: 100%;" ></input>

              <br>

            </div>

          <%end%>
          
          <input type="radio" name="delivery-option" value="delivery" id="delivery-yes">Delivery<br>

          <div id="delivery-option-details" style="display: none;">

            <br>

            <table class="delivery-detail-form">

              <tr>

                <td colspan="2"><input type="text" placeholder="Full Name" name="fullName" id="fullNameInput"></input></td>

              </tr>

              <tr>

                <td colspan="2"><input type="text" placeholder="Address Line 1" name="addressLine1" id="addressInput"></input></td>

              </tr>

              <tr>

                <td colspan="2"><input type="text" placeholder="Address Line 2" name="addressLine2"></input></td>

              </tr>

              <tr>

                <td colspan="2"><input type="text" placeholder="City" name="city"></input></td>

              </tr>

              <tr>

                <td><input type="text" placeholder="State/Province" name="stateProvince"></input></td>

                <td><input type="text" placeholder="Zip/Postal Code" name="zipPostalCode"></input></td>


              </tr>

              <tr>

                <td colspan="2"><input type="text" placeholder="Country" name="country"></input></td>

              </tr>

              <tr>

                <td colspan="2"><input type="text" placeholder="Phone" name="phone"></input></td>
               
              </tr>

            </table>

          </div>

          <br>

          <a id="delivery-option-continue" class="button blue-background large item-buy-action">Continue</a>

        </div>

      </div>

      <div class="item-side-panel" id="confirm-purchase-form" style="display: none;">

        <h4>Confirm Purchase</h4>

        <p><b><%= number_to_currency(@item_art.price)%></b> will be charged to credit card ending <b><span id="confirm-last-4">[last4]</span></b>.</p>
        
        <br>

        <p id="pickup-option-confirm" style="display:none;">Pickup details for <b>"<%= @item_art.name %>"</b> (inluding the address and availablity) will be emailed to you at <b><% if user_signed_in? %> <%= current_user.email %> <%else%> <span id="confirm-email">[email]</span><%end%></b>.</p>

        <p id="delivery-option-confirm" style="display:none;"><b>"<%= @item_art.name %>"</b> will be delivered to <b><span id="confirm-name">[fullName]</span></b> at <b><span id="confirm-address">[address]</span></b>.</p>

        <br>

        <input type="submit" value="Confirm" id="confirm-purchase" class="button green-background large item-buy-action">

      </div>

    <% end %>

  </div>

  

</div>




  <div class="medium-content" style="display: none;">

      <div class="item-art-form-header">

        <div class="left">
          <h2><%= @item_art.name %></h2>
        </div>

        <div class="right">
          <a class="button large blue-background">Buy for <%= number_to_currency(@item_art.price) %></a>
        </div>

      </div>

      <div class="item-art-form-row">

        <p><%= @item_art.medium %>, <%= @item_art.height.to_i %> H X <%= @item_art.width.to_i %> W <% if @item_art.length %> X <%= @item_art.length.to_i %> L<%end%></p>

      </div>
      
      <div class="image-input-container centered">
        
        <%= image_tag @item_art.image.url, class: "item-art-main-image" %>

      </div>

      <div class="item-art-form-header">

          <p>About</p>

      </div>

      <div class="field">
        <p><%= @item_art.description %></p>
      </div>

      <br>
      
      <div class="item-art-form-header">

        <div class="left">
          
          <p>The Artist</p>

        </div>

        <div class="right">

          <a class="message-modal modal-cta button medium red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span></a>

        </div>

      </div>

      <div class="field">
        <p><%= @item_art.user.about %></p>
      </div>

  </div>

</div>

<%= render 'messages/modal_form' %>
