
<div class="content-column sidebar">

	<div class="content-panel">

		<ul>

			<li>
				<a href="<%= profile_path(current_user.display_name) %>"><h3><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%><%= current_user.display_name %></h3></a>
			</li>

			<li>
				<a><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span><span>Messages</span></a>

			</li>

			<li>
				<a><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;"></span>Views</a>

			</li>

			<li>
				<a><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span><span>Balance: $20.00</span></a>

			</li>

		</ul>

	</div>

</div>

<div class="content-column primary">

	<div id="messages-content">
		
		<h3 class="text-header-underline">Messages</h3>

		<h4>To Me:</h4>

		<% current_user.messages_to_me.each do |message| %>

			<%= message.id %>

		<% end%>

		<h4>Sent by Me:</h4>
		
		<% current_user.messages_sent_by_me.each do |message| %>

			<%= message.id %>

		<% end%>

	</div>

	<div id="views-content" style="display: none;">
		
		<h3 class="text-header-underline" >Views</h3>

		<p>running summation fo views, messages, balance</p>

	</div>



	<div id="balance-content" style="display: none;">
		
		<h3 class="text-header-underline">Balance</h3>

	</div>

</div>



