
<div class="content-column sidebar">

	<div class="content-panel">

		<ul>

			<li>
				
				<a href="<%= profile_path(current_user.display_name) %>"><h3><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%><%= current_user.display_name %></h3></a>
			</li>

			<li class="dashboard-option active" id="messages" data-content-panel="messages-content">
				
				<a><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span><span>Messages</span></a>

			</li>

			<li class="dashboard-option" id="views" data-content-panel="views-content">
				
				<a><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;"></span>Views</a>

			</li>

			<li class="dashboard-option" id="balance" data-content-panel="balance-content">
				
				<a><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span><span>Balance: $20.00</span></a>

			</li>

		</ul>

	</div>

</div>

<div class="content-column primary">

	<div class="dashboard-panel" id="messages-content">
		
		<h3 class="text-header-underline">Messages</h3>

		<h4>Inbox</h4>

		<% if current_user.messages_to_me.count > 0 %>

			<% current_user.messages_to_me.each do |message| %>

				<%= message.id %>

			<% end%>

		<% else %>

			<div class="nothing-to-see-container">

				<p>No incoming messages.</p>

			</div>

		<% end%>

		<h4>Outbox</h4>

		<% if current_user.messages_sent_by_me.count > 0 %>

			<% current_user.messages_sent_by_me.each do |message| %>

				<%= message.id %>

			<% end%>

		<% else %>

			<div class="nothing-to-see-container">

				<p>No outgoing messages.</p>

			</div>

		<% end%>

	</div>

	<div class="dashboard-panel" id="views-content" style="display: none;">
		
		<h3 class="text-header-underline" >Views</h3>

		<% if current_user.views.count > 0 %>
			
			<% current_user.views.each do |view| %>

				<%= view.id %>

			<% end%>

		<% else%>

			<div class="nothing-to-see-container">

				<p>No views, yet...check back later.</p>

			</div>

		<%end%>

	</div>



	<div class="dashboard-panel" id="balance-content" style="display: none;">
		
		<h3 class="text-header-underline">Balance</h3>

	</div>

</div>



