<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art</h2>

			<p class="centered">ArtYam is a full-service eCommerce platform for fine art galleries.</p>

			<br><br>

			<a href="<%= signup_for_galleries_path %>" class="cta red-background button large">Start Your Free Trial</a>

		</div>

	</div>

</section>



<section class="home-primary">

	<div class="landing-content-container">

		<h3>Your Partner in the Booming Online Art Market</h3>

		<p class="centered">ArtYam provides everything your gallery needs to grow your business in the $3.2 billion online art market.  From online tear sheets for your shows to integrated eCommerce and even professional writing services, our team handles the heavy lifting of promoting and selling your gallery's art online so you can focus on your business.</p>

	</div>


</section>



<section class="home-primary">

	<div class="landing-content-container">

		<h3>Features</h3>

		<div class="page-content-container">

			<div class="half-page-content centered">

				<h4><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 15px;"></span>Elegant Online Presence</h4>

				<p>ArtYam generates web pages for your shows, artist, and artwork that look great on any device. Collectors can engage with your pages at home, at their job, or even in your gallery.</p>

				<%= link_to direct_link_to_item_art_path("62b1") do %>
			
					<div>

						<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/home-page-sample-artwork-page.jpg"></img>

					</div>

				<%end%>

			</div>


			<div class="half-page-content centered">

				<h4><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 15px;"></span>Full Service</h4>

				<p>We get it, running a gallery is hard work and you're busy! ArtYam provides end-to-end service, from account setup to communicating with you about sale of your art.  Our dedicated team of designers, customer service agents, and professional writers are at your service so you can focus on what you do best - running your gallery!</p>

				<div>

					<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/our_team_stock.jpeg"></img>

				</div>


			</div>

			

		</div>


		<div class="page-content-container">


			<div class="half-page-content">

				<h4><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 15px;"></span>Integrated eCommerce</h4>

				<p>Grow your gallery's business online with ArtYam's seamless system that handles the sale of your art listings from beginning to end, including credit card processing and customer contact. </p>

			</div>

			

			<div class="half-page-content">

				<h4><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 15px;"></span>Instantly Shareable Everywhere</h4>

				<p>ArtYam generates short, readable links to your art that can be easily shared via email, social media, in your displays, and your printed marketing materials.  ArtYam makes it easy to connect your gallery to the world.</p>

			</div>

		</div>


		<div class="page-content-container">


			<div class="half-page-content" style="width: 100%;">

				<h4><span class="glyphicon glyphicon-ok" aria-hidden="true" style="margin-right: 15px;"></span>No Commissions, Simple Pricing</h4>

				<p>ArtYam charges no commission on sales of your art, just a 3.5% payment processing fee.  A monthly subscription, which includes free account setup, unlimited art listings, and unlimited support costs a flat fee of $149/month.</p>

			</div>

		</div>


	</div>

</section>




<!-- <section class="home-primary">

	<div class="landing-content-container">

		<h3>Start Growing Your Business Today</h3>

		<div class="grid">

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Promote</h5>
					<p>Share detailed information about your shows, artists, and artwork via email, social media, and across our network of online art collectors!</p>

				</div>

			</div>

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Engage</h5>
					<p>Artyam ... puts together a ... cohesive story about that engages art collectors and ...</p>

				</div>

			</div>

			<div class="grid-item">
				
				<div class="grid-content">
					
					<h5>Sell</h5>
					<p>ArtYam processes payments and ... seamless </p>

				</div>

			</div>


		</div>

	</div>

</section> -->




<!-- <section class="home-primary">

	<div class="landing-content-container">

		<h3 class="upcase">How it Works</h3>
			
		<h4 class="centered">1. Full-Service Setup</h4>

		<p>When you sign up for ArtYam we will ask you for a few basic details about your gallery and immeditely schedule a call with you to discuss your specific needs and goals within 1 business day. Following our initial call, we will import all of your data to ArtYam within 48 hours, absolutely free. (You also have the option to do it yourself using our easy self-service portal, if you insist).</p>

		<br>

		<h4 class="centered">2. Share</h4>

		<p>Once your ArtYam account is setup, we will provide a summary of custom pages created for your gallery, shows, artwork, and artists that includes [shareable links that can be used on your website, social media, printed materials, or physical display.]  These pages provide art collectors from your promotion efforts, as well as all over the world, to engage with your gallery beyond your phyical location and provides online purchasing options for your work.</p>

		<br>

		<h4 class="centered">3. Sales</h4>

		<p>Your ArtYam tear sheets for your work not only include additional information ... but instant online purchasing options for your artwork as well.  Upon sale of your listed art you will be notified by email as well as by phone from an ArtYam customer service agent.  ArtYam processes all major credit cards and charges no commission.</p>

	</div>

</section> -->




<section class="home-primary dark-grey-background">

	<div class="landing-content-container">

		<h3 class="white-text">Try it Free Today</h3>

		<p class="white-text centered">We are confident ArtYam is the perfect partner for your gallery to sell art online. All new customers can try our platform free of charge for 14 days.</p>

		<a href="<%= signup_for_galleries_path %>" class="cta orange-background button large">Start Your Free Trial</a>

	</div>

</section>



<section class="home-primary">

	<div class="landing-content-container">

		<h3>Questions?</h3>

		<p class="centered">Send Us a Message!</p>

		<div class="form-container">

			<%= form_tag question_path do %>

				<% if flash[:notice] %>

					<div class="notice yellow">

						<p class="notice-content yellow">
						  <%= flash[:notice] %>
						</p>

					</div>

				<%end%>

				<div class="field">

					<label>Email</label><br>
					<input type="text" name="email" required>

				</div>
				
				<div class="field">

					<label>Message</label><br>
					<textarea rows="3" name="message" required></textarea>

				</div>

				<input type="submit" class="button large bright-blue-background" value="Send">

			<%end%>


		</div>


	</div>

</section>

