<section class="single-page-landing brand-gradient-background vertical">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h2>Sell More Art.</h2>

			<p>ArtYam provides instant payment processing and engagement tracking for your public art displays.</p>

			<br>

			<a href="<%= signup_path %>" class="cta orange-background button large">I'm an Artist</a>

			<br>

			<a href="<%= about_path %>" class="cta red-frame button large">Learn More</a>

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Get Setup in 3 Minutes</h3>

		<p>Upload a photo of your artwork with a few basic details and ArtYam generates a custom web page that accepts major credit cards on your behalf. ArtYam provides a short, readable link to your custom web pages that you can include in your public displays to engage art collectors with more information about your artwork, yourself, and a secure checkout process.</p>

		<p>It's less work than a Facebook post and it can get you paid!</p>

		<%= link_to direct_link_to_item_art_path("62b1") do %>
			
			<div>
				<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/home-page-sample-artwork.jpg"></img>
				<p class="centered"><%= link_to "ArtYam.com/62b1", direct_link_to_item_art_path("62b1") %> </p>
			</div>

		<%end%>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Built Around Your Life</h3>

		<p>ArtYam is easily accessible from any computer or your mobile device, allowing you to track sales and engagement while at your gallery, home, or on the road.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>What is ArtYam?</h3>

		<p>ArtYam is an eCommerce platform that quickly creates mobile-friendly web pages for your art displays that engage art collectors with additional information about your artwork as well as secure payment processing, streamlined contact forms, and 3-minute checkout process that [increases sales].</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>How Does it Work?</h3>

		<p><b>1. You Create a Page for Your Artwork</b> | Upload a photo of your artwork and provide a few basic details that art collectors want to know (dimensions, description of the piece, etc.). ArtYam automatically generates a short, shareable link to this information that can be included in art displays (such as <%= link_to "ArtYam.com/" + ItemArt.last.search_code, direct_link_to_item_art_path(ItemArt.last.search_code) %>).  It's less work than a Facebook post and you ....</p>

		<p><b>2. Share your ArtYam Links in your Art Displays</b> | Using your short, readable ArtYam links, art collectors can access additional information about your artwork on any mobile device and buy your artwork in less than 3 minutes.</p>

		<p><b>3. We Sell Your Art and Pay You</b> | We process payments online from any major credit cards on your behalf and remit payment to you via direct deposit.</p>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>Why Use ArtYam?</h3>

		<p>ArtYam adds engagement to your art displays in galleries, cafe, and restaurants, where staff are not necessarily trained to sell your art and probably don't know much about your artwork or you. We understand artist are not usually present at their art displays so we designed ArtYam to bridge the gap between art collectors and artists by  providing fast access to additional information about you and your artwork, in your own words, seamlessly integrated with online payment processing capabilities.  No other company provides solutions these specifically tailored for artists.</p>

		<a href="<%= signup_path %>" class="cta orange-background button large">Signup</a>

	</div>

</section>

