
<% if user_signed_in? %>

	<%= render 'pages/user/dashboard_side_panel' %>

	<div class="dashboard-container">

		<%= render 'pages/user/dashboard_header' %>

		<%= render 'pages/user/settings_header' %>

		<div class="dashboard-item">

			<div class="padded-content">

				<% if @customer_cards %>

					<h3>Stored Payment Methods</h3>

					<% @customer_cards.each do |card| %>

						<div class="dashboard-index">
							
							<div><%=card.brand + " •••• •••• •••• " + card.last4 %></div>
							<div><%= card.exp_month.to_s + "/" + card.exp_year.to_s %></div>
							<div class="align-right block"><% if @stripe_customer_object.default_source == card.id %><a class="button green-background right-margin"><span class="glyphicon glyphicon-ok" style="margin-right: 5px;"></span>Default</a><%else%><a class="button bright-blue-background right-margin" href='<%= new_default_card_path(card.id) %>'>Make Default</a><%end%><a class="button red-frame" href='<%= delete_card_path(card.id) %>'>Delete</a></div>

						</div>

					<%end%>

				<%end%>

				<br><br>

				<a class="button orange-background medium modal-cta new-card-modal">Add New Credit Card</a>

			</div>

		</div>

	</div>

<%end%>

<%= render 'modals/new_card_modal' %>
	
	