
<% unless user_signed_in? %>

	<%# render 'pages/basic_landing_page' %>

	<%= render 'pages/single_page_landing' %>

<%else%>

	<% if current_user.is_artist %>

		<%= render 'pages/user/dashboard_side_panel' %>

		<div class="dashboard-container">

			<%= render 'pages/user/dashboard_header' %>

			<div class="dashboard-fixed-header mobile-only">
				
				<ul class="horizontal full-length header ">

					<li <% if @page == "settings"%>class="active"<%end%>><%= link_to "Sales", balance_path %></li><% if current_user.is_artist %><li <% if @page == "payment settings"%>class="active"<%end%>><%= link_to "Inventory", portfolio_path %></li><li <% if @page == "account settings"%>class="active"<%end%>><%= link_to "Engagement", engagement_path %></li><%else%><li <% if @page == "payment settings"%>class="active"<%end%>><%= link_to "Payments", customer_payments_path %></li><%end%>

				</ul>

			</div>

			<%= render 'pages/user/dashboard' %>

		</div>

	<% else %>

		<%= render 'pages/user/not_artist_home' %>

	<%end%>

<%end%>