
<% unless user_signed_in? %>

	<%# render 'pages/basic_landing_page' %>

	<%= render 'pages/single_page_landing' %>

<%else%>

	<% if current_user.is_artist or current_user.is_gallery %>

		<%= render 'pages/user/dashboard_side_panel' %>

		<div class="dashboard-container">

			<%= render 'pages/user/dashboard_header' %>

			<%# render 'pages/user/dashboard_fixed_header' %>

			<div class="dashboard-view" id="portfolio-view" >
				<%= render 'pages/user/my_work' %>
			</div>

			<div class="dashboard-view" id="sales-view" style="display:none;">
				<%= render 'pages/user/balance' %>
			</div>

			<div class="dashboard-view" id="submissions-view" style="display:none;">
				<%= render 'pages/user/submissions' %>
			</div>

			<%# render 'pages/user/dashboard' %>

		</div>

	<% elsif current_user.is_affiliate %>

		<%= render 'pages/affiliate/dashboard' %>

	<% else %>

		<%= render 'pages/user/not_artist_home' %>

	<%end%>

<%end%>