
<% unless user_signed_in? %>

	<%# render 'pages/basic_landing_page' %>

	<%= render 'pages/single_page_landing' %>

<%else%>

	<% if current_user.is_artist %>

		<%= render 'pages/user/dashboard_side_panel' %>

		<div class="dashboard-container">

			<%= render 'pages/user/dashboard_header' %>

			<div class="dashboard-fixed-header mobile-only">
				
				<ul class="horizontal full-length header ">

					<li <% if @page == "home"%>class="active"<%end%>><%= link_to "Sales", root_path %></li><li <% if @page == "payment settings"%>class="active"<%end%>><%= link_to "Portfolio", portfolio_path %></li><li <% if @page == "home"%>class="active"<%end%>><%= link_to "Submissions", root_path %></li>

				</ul>

			</div>

			<%= render 'pages/user/submissions' %>

			<%# render 'pages/user/dashboard' %>

		</div>

	<% else %>

		<%= render 'pages/user/not_artist_home' %>

	<%end%>

<%end%>