
<% unless user_signed_in? %>

	<%# render 'pages/basic_landing_page' %>

	<%# render 'pages/single_page_landing' %>

	<%= render 'pages/gallery_landing_page' %>

<%else%>

	<% if current_user.is_artist or current_user.is_gallery %>

		<%= render 'pages/user/dashboard_side_panel' %>

		<div class="dashboard-container">

			<%= render 'pages/user/dashboard_header' %>

			<%= render 'pages/user/dashboard' %>

		</div>

	<% elsif current_user.is_affiliate %>

		<%= render 'pages/affiliate/dashboard' %>

	<% else %>

		<%= render 'pages/user/not_artist_home' %>

	<%end%>

<%end%>