
<% unless user_signed_in? %>

	<%= render 'pages/basic_landing_page' %>

<%else%>
	
	<div class="dashboard-content">

		<div class="content-column sidebar full-content">

			<%= render 'pages/user/dashboard_side_panel' %>

		</div>


		<div class="content-column sidebar-content">

			<%= render 'pages/user/my_work' %>

		</div>

	</div>

<!-- 	<div class="dashboard-content">


		<div class="content-column sidebar-content"> -->


<!-- 			<h3><span class="glyphicon glyphicon-stats" aria-hidden="true" style="margin-right: 5px;"></span>Recent Stats</h3>

			<div class="centered">

				<ul class="horizontal">

					<li><a>This Week</a></li>
					<li><a>This Month</a></li>
					<li><a>All Time</a></li>

				</ul>

				<br>

				<ul class="horizontal">

					<li><a class="stats" href="<%= portfolio_path %>"><span class="stats-header"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;"></span>Views</span><br><span class="stats-data">23</span></a></li>
					<li><a class="stats" href="<%= balance_path %>"><span class="stats-header"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span>Sales</span><br><span class="stats-data">$29.00</span></a></li>

				</ul>

			</div> -->

			<%# current_user.recent_activity.each do |activity| %>

<!-- 				<div class="activity">

					<%# if activity['type'] == "view" %>
						<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;"></span>[Someone] viewed your work, <%# activity['object'].item_art.name %>, on <%# activity['created_at'].strftime("%b %d") %></p>
					<%# elsif activity['type'] == "purchase" %>

						<p class="sale"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span>[Someone] purchased your work, <%# activity['object'].item_art.name %>, on <%# activity['created_at'].strftime("%b %d") %></p>

					<%#end%>

				</div>	 -->			

			<%#end%>

<!-- 		</div>

	</div> -->

<%end%>