<div class="content">

	<h2>My Work</h2>

	<div class="item-art-form-header">

      <div class="left">
        <h3>Exhibitions</h3>
      </div>

      <div class="right">
        <%= link_to "Share a New Exhibition", new_exhibition_path, class: 'button medium blue-background' %>
      </div>

    </div>
	
	<% if current_user.exhibitions.count > 0 %>

		<% current_user.exhibitions.each do |exhibition| %>

			<%= exhibition.id %>

		<% end %>
	
	<% else %>

		<div class="nothing-to-see-container">

			<p><%= current_user.display_name%> has not shared any exhibitions, yet.</p>

		</div>

	<% end %>

	<div class="item-art-form-header">

      <div class="left">
        <h3>Works</h3>
      </div>

      <div class="right">
        <%= link_to "Share a New Work", new_item_art_path, class: 'button medium red-background' %>
      </div>

    </div>

	<% if current_user.item_arts.count > 0 %>

		<% current_user.item_arts.each do |item| %>

			<%= item.id %>

		<%end %>

	<% else %>

		<div class="nothing-to-see-container">

			<p><%= current_user.display_name%> has not shared any work, yet.</p>

		</div>

	<% end %>

</div>
	