<div class="profile-header">

	<div class="profile-header-content">

		<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

		<h2><%= @user.display_name %></h2>

		<a class="message-modal modal-cta button medium red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Send Message</a>

		<br>

		<ul class="horizontal">

			<li><%= link_to "Portfolio", profile_path, class:"active" %></li>
			<li><%= link_to "About Me", profile_about_path %></li>

		</ul>

	</div>

</div>

<div class="profile-content">

	<div id="portfolio">

		<% @user.item_arts.each do |item| %>

			<%= link_to(item) do %>
			
				<div class="lightbox">

					<%= image_tag item.image.url, class: "medium-item-image"%>

				</div>

			<% end %>

		<% end %>

	</div>


</div>

<a class="message-modal modal-cta">Message</a>


<%= render 'messages/modal_form' %>