<div class="profile-header">

	<div class="profile-header-content">

		<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

		<h2><%= @user.display_name %></h2>

		<% if user_signed_in? %>

			<% unless current_user.id == @user.id %>

				<a class="message-modal modal-cta button medium red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Send Message</a>

			<%end%>

		<%end%>

		<br>

		<ul class="horizontal">

			<li><%= link_to "Portfolio", profile_path, class: "light" %></li>
			<li><%= link_to "About Me", profile_about_path, class: "active light" %></li>

		</ul>

	</div>

</div>

<div class="profile-content">

	<% if @user.about.length > 0 %>

		<p class="about"><%= @user.about %></p>
		
	<%else%>

		<div class="nothing-to-see-container">

			<% if user_signed_in?%>

				<% if current_user.id == @user.id %>
					
					<p>You have not written a bio yet. <%= link_to "Go to Account Settings", settings_path, class: "warning-text-cta" %> to update bio.</p>

				<%else%>

					<p><%= @user.display_name %> has not written a bio yet.</p>

				<%end%>

			<%else%>

				<p><%= @user.display_name %> has not written a bio yet.</p>

			<%end%>

		</div>

	<%end%>


</div>


<%= render 'messages/modal_form' %>