<div class="profile-header">

	<div class="profile-header-content">

		<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

		<h2><%= @user.display_name %></h2>

		<p class="about"><%= @user.about %>allegations</p>

		<ul class="horizontal">

			<li><a class="active">Work</a></li>
			<li><a>Exhibitions</a></li>
			<li><a>About</a></li>

		</ul>

	</div>

</div>

<div class="profile-content">

	<% @user.item_arts.each do |item| %>

		<div class="lightbox">

			<%= image_tag item.image.url(:medium), class: "medium-item-image"%>

			<br>

			<h3><%= item.name %></h3>

			<h3><%= number_to_currency(item.price) %></h3>

		</div>

	<% end%>


</div>

<a class="message-modal modal-cta">Message</a>


<%= render 'messages/modal_form' %>