<div class="profile-header">

	<div class="profile-header-content">

		<div class="profile-header-image">

			<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

		</div>


		<div class="profile-header-text">

			<h2><%= @user.display_name %></h2>

			<% if @user.about.length > 0 %>

				<p class="about"><%= @user.about %></p>
				
			<%else%>

				<div class="nothing-to-see-container no-margin">

					<% if user_signed_in?%>

						<% if current_user.id == @user.id %>
							
							<p>You have not written a bio yet. <%= link_to "Go to Account Settings", settings_path, class: "warning-text-cta" %> to update bio.</p>

						<%else%>

							<p><%= @user.display_name %> has not written a bio yet.</p>

						<%end%>

					<%else%>

						<p><%= @user.display_name %> has not written a bio yet.</p>

					<%end%>

				</div>

			<%end%>

		</div>

		<% if user_signed_in? %>
			<% unless current_user.id == @user.id %>
			
				<a class="message-modal modal-cta button medium red-background"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Send Message</a>

			<%end%>

		<%end%>

	</div>

</div>

<div class="profile-content">

	<div id="portfolio">

		<% if @user.item_arts.count > 0 %>

			<% @user.item_arts.each do |item| %>

				<%= link_to(item) do %>
				
					<div class="lightbox">

						<%= image_tag item.image.url, class: "medium-item-image"%>

					</div>

				<% end %>

			<% end %>

		<%else%>

			<div class="nothing-to-see-container">

				<p>

					<% if user_signed_in?%>

						<% if current_user.id == @user.id %>
							You have not shared any artwork yet. <%= link_to "Add Art Works", new_item_art_path, class: "warning-text-cta" %>
						<%else%>

							<%= @user.display_name%> has not shared any artwork yet.

						<%end%>

					<%else%>

						<%= @user.display_name%> has not shared any artwork yet.

					<%end%>

				</p>

			</div>



		<%end%>

	</div>


</div>

<%= render 'messages/modal_form' %>