<div class="profile-header">

	<div class="profile-header-content">

		<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

		<h2><%= @user.display_name %></h2>

		<p class="about"><%= @user.about %>allegations</p>

		<ul class="horizontal">

			<li><a class="active">Work</a></li>
			<li><a>Exhibitions</a></li>
			<li><a>About</a></li>

		</ul>

	</div>

</div>

<div class="profile-content">

	<div id="portfolio">

		<% @user.item_arts.each do |item| %>

			<%= link_to(item) do %>
			
				<div class="lightbox">

					<%= image_tag item.image.url, class: "medium-item-image"%>

				</div>

			<% end %>

		<% end %>

	</div>


</div>

<a class="message-modal modal-cta">Message</a>


<%= render 'messages/modal_form' %>