<%# render 'headers/context_header' %>

<div class="open-page-container">

	<div class="profile-header">

		<div class="profile-header-content">

			<div class="profile-header-image">

				<%= image_tag @user.image.url(:medium), class: "medium-profile-image"%>

			</div>

			<div class="profile-header-text">

				<h2><%= @user.display_name %></h2>

				<% if @user.about.length > 0 %>

					<p class="about"><%= @user.about %></p>
					
				<%else%>

					<% if user_signed_in?%>

						<% if current_user.is_me(@user) %>
							
							<div class="nothing-to-see-container no-margin">

								<p class="red">You have not written an artist statement for your profile. <%= link_to "Go to Account Settings", settings_path, class: "warning-text-cta" %> to write your artist statement.</p>

							</div>

						<%end%>

					<%end%>

				<%end%>

			</div>

			<% if user_signed_in? %>
				
				<% unless current_user.id == @user.id %>
				
					<a class="message-modal modal-cta button medium red-frame">Contact</a>

				<%end%>

			<%end%>

		</div>

	</div>

	<div class="profile-content">

		<div class="portfolio">

			<% if @user.item_arts.count > 0 %>

				<%= render :partial => 'item_arts/index_grid', :locals => {:items => @user.item_arts.reverse, :image_only => true, :columns => 3} %>

			<%else%>

				<div class="nothing-to-see-container">

					<p class="red">

						<% if user_signed_in?%>

							<% if current_user.id == @user.id %>
								You have not shared any artwork yet. <%= link_to "Add Artwork", new_item_art_path, class: "warning-text-cta" %>
							<%else%>

								<%= @user.display_name%> has not shared any artwork yet.

							<%end%>

						<%else%>

							<%= @user.display_name%> has not shared any artwork yet.

						<%end%>

					</p>

				</div>



			<%end%>

		</div>


	</div>

</div>

<%= render 'messages/modal_form' %>