<div class="dashboard-item" id="artists">

	<%= render 'pages/user/warnings' %>

	<div class="dashboard-actions centered">

		<%= link_to "+ Add an Artist", new_artist_path, class: "black-background button medium" %>

	</div>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="a-z">A-Z</a></li><li><a class="click-to-reveal" data-reveal-panel-id="recently-added">Recently</a></li><li><a class="click-to-reveal" data-reveal-panel-id="active-show">Active Show</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="a-z">

		<table>
			
			<tr>
				<td colspan="2"></td>
				<td>Name</td>
				<td>Biography</td>
				<td>Artist Statement</td>
				<td>Number of Pieces</td>

			</tr>

		
			<% current_user.my_artists.each do |artist| %>
				
				<tr>
					<td colspan="2"><%= image_tag artist.image.url(:medium), class: "medium-profile-image"%></td>
					<td><%= artist.name %></td>
					<td><%= artist.biography.nil? %></td>
					<td><%= artist.artist_statement.nil? %></td>
					<td>3</td>
				</tr>
				
			<%end%>

		</table>

	</div>

	<div class="reveal-panel default-off" id="recently-added">

		Recently Added

	</div>

	<div class="reveal-panel default-off" id="active-show">

		Active Show

	</div>

	

</div>