<div class="dashboard-item" id="sales">

	<%= render 'pages/user/warnings' %>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="recent">Recent</a></li><li><a class="click-to-reveal" data-reveal-panel-id="price">Price</a></li><li><a class="click-to-reveal" data-reveal-panel-id="a-z">A-Z</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="recent">

		<table>
			
			<tr>
				<td>Name</td>
				<td></td>
				<td></td>
			</tr>

			<%current_user.gallery_purchases.each do |purchase| %>
				<tr>
					<td><%= purchase.item_art.name %></td>
					<td></td>
					<td></td>
				</tr>
			<%end%>

		</table>

	</div>

	<div class="reveal-panel default-off" id="price">

		Price

	</div>

	<div class="reveal-panel default-off" id="a-z">

		A-Z

	</div>




	<% current_user.purchases_of_my_work.each do |purchase| %>
		
		<% if purchase.item_art %>

			<a href="<%= purchase_path(purchase.id) %>">

				<div class="dashboard-index clickable">
					
					<div><%= image_tag purchase.item_art.image.url, class: "small-item-image"%></div>

					<div>"<%= purchase.item_art.name %>" was purchased <%= purchase.created_at.strftime("%b %d") %> for <%= number_to_currency(purchase.amount, precision: 0) %>.<br>Status: <%= purchase.status_as_string %></div>
				</div>

			</a>

		<%end%>

	<%end%>
	

</div>



