<div class="dashboard-panel" id="balance-content">

	<%= render 'pages/user/warnings' %>

    <h3>My Sales</h3>

	<ul class="horizontal">

		<li class="active"><a>All</a></li>
		<li><a>Pending</a></li>
		<li><a>Completed</a></li>

	</ul>

	<div class="dashboard-panel-content">

		<% if current_user.purchases_of_my_work.count > 0 %>

			<% current_user.purchases_of_my_work.reverse.each do |purchase| %>

				<%= link_to(purchase) do %>

					<div class="sale-index">

						<div class="sale-index-image">

							<%= image_tag purchase.item_art.image.url, class: "small-item-image"%>

						</div>

						<div class="sale-index-content">

						    <h4><%= purchase.item_art.name %></h4>

							<p>Sold <%= purchase.created_at.strftime("%b %d") %> for <%= number_to_currency(purchase.amount) %></p>

							<p><%= purchase.status_as_string %></p>

						</div>

					</div>

					<br>

				<% end %>

			<%end%>

		<%else%>

			<div class="nothing-to-see-container">

				<p>No sales yet.</p>

			</div>

		<%end%>

	</div>

</div>