<div class="dashboard-panel" id="balance-content">

	<%= render 'pages/user/warnings' %>
	
	<div class="left">

        <h3>Balance</h3>

      </div>

      <div class="right">

        <h4 style="color: green;"><%= number_to_currency(238) %></h4>

    </div>

    <h4 class="centered">Next Payment Date: Aug 3, 2016</h4>

	<ul>

		<li class="active"><%= link_to "Sales", balance_path %></li>
		<li><%= link_to "Payments to You", balance_payments_path %></li>

	</ul>

	<div class="dasboard-panel-content">

		<% if current_user.purchases_of_my_work.count > 0 %>

		<table class="sales-index">

			<% current_user.purchases_of_my_work.reverse.each do |purchase| %>

				<tr>

					<td>

						<%= purchase.created_at.strftime("%b %d") %>
					</td>

					<td>
						
						<%= image_tag purchase.item_art.image.url, class: "small-item-image"%>
						<br>
						<%= purchase.item_art.name %>

					</td>

					<td>

						<%= number_to_currency(purchase.amount) %>

					</td>

					<td>

						<%= purchase.status_as_string %>

					</td>

				</tr>

			<%end%>

		</table>

		<%else%>

			<div class="nothing-to-see-container">

				<p>No sales yet.</p>

			</div>

		<%end%>

	</div>

</div>