<%= render 'pages/user/dashboard_header' %>

<div class="dashboard-panel" id="settings-content">

	<ul class="horizontal">

		<li><%= link_to "Profile", settings_path %></li>
		<li><%= link_to "Personal", payment_settings_path %></li>
		<li class="active"><%= link_to "Payments", bank_accounts_path %></li>

	</ul>

	<div class="dashboard-panel-content">

		<% if @defaultaccount %>

			<%= form_tag update_bank_account_path, id: 'bankAccountForm', class: 'edit_user_settings' do %>

			  		<b>Current Bank Account:</b> <br>
			  	
					<%= @defaultaccount.bank_name + " •••• •••• •••• " + @defaultaccount.last4 %>


				<select name="newdefault"/>
				     
				    <option value selected="selected" disabled="disabled">update bank account</option>
				      		
				    <% @accounts.each do |account| %>

						<option value=<%=account.id%>><%=account.bank_name%> <%=account.last4 %> <% if account.default_for_currency %> (default)<%end%>

					<%end%>

				</select>

				<br><br>

				<button type="submit" class= "blue-background button medium">Update</button>

	  		<% end %>

  		<%end%>


  		<%= form_tag new_bank_account_path, id: 'bankAccountForm', class: 'edit_user_settings' do %>

			<table class="card-form">

		      	<span class='payment-errors'></span>

		      	<tr class="add-card-form-header">
		      		<td class="add-card-header" colspan="2">
		      			<b>Add New Bank Account</b>
		      		</td>
		      	</tr>
		      	<tr>
					<td><span>Bank Location</span></td>
					<td><select name="country">
		                <option value="US">United States</option>
		                <option value="CAN">Canada</option>
		            </select></td>
				</tr>
				<tr>
					<td><span>Name of Banking Institution</span></td>
					<td><input type="text" size="9" name="bankName"/></td>
				</tr>
				<tr>
					<td><span>Routing Number</span></td>
					<td><input type="text" size="9" name="routingNumber" autocomplete="off"></td>
				</tr>
				<tr>
					<td><span>Account Number</span></td>
					<td><input type="text" size="17" name="accountNumber" autocomplete="off"></td>
				</tr>
				<tr>
					<td><span>Description</span></td>
					<td><input type="text" size="9" name="description"/></td>
				</tr>

				 <tr>
		      		<td class="add-card-action">
		      			<button type="submit" class= "add-card-submit">Add Bank Account</button>

		      		</td>

		      		<td class="add-card-action">
		      			<a id="addCardLink" class="cancel-card-submit" onclick="toggleModal();">cancel</a>
		      		</td>
		      	</tr>

			</table>


  		<% end %>

  				<%#render'bank_accounts/addbankaccountform'%>

  	</div>

</div>