
<div class="dashboard-fixed-header">
	<ul class="horizontal full-length header">

		<li class="active"><a href="<%= balance_path %>">Sales<span class="badge-number"><%= number_to_currency(current_user.total_revenue) %></span></a></li>
		<li><a  href="<%= views_path %>">Views<span class="badge-number"><%= current_user.views.count %></span></a></li>
		<li><a href="<%= portfolio_path %>">Works<span class="badge-number"><%= current_user.item_arts.count %></span></a></li>

	</ul>
</div>

<div class="dashboard-item" id="sales">
	
	<table class="dashboard-table">

		<% current_user.purchases_of_my_work.each do |purchase| %>

			<tr>
				<td><%= image_tag purchase.item_art.image.url, class: "small-item-image"%></td>
				<td><%= purchase.item_art.name %> was purchased <%= purchase.created_at.strftime("%b %d") %> for <%= number_to_currency(purchase.amount) %>.<br>Status: <%= purchase.status_as_string %></td>
			</tr>

		<%end%>

	</table>

</div>

<div class="dashboard-item" id="views">
	
	<table class="dashboard-table">

		<% current_user.views.each do |view| %>

			<tr>

				<td><a><%= view.item_art.name %></a></td>
				<td><a><%= view.created_at.strftime("%b %d") %></a></td>

			</tr>

		<% end%>

	</table>

</div>