
	<!-- <h3 class="dashboard-header-text"><%# @page_title %></h3> -->

<ul class="horizontal full-length">

	<li class="bright-blue-background dark-text"><a href="<%= balance_path %>"><%= number_to_currency(current_user.total_revenue) %><br>Total Sales</a></li>
	<li class="bright-peach-background dark-text"><a  href="<%= views_path %>"><%= current_user.views.count %><br>Unique Views</a></li>
	<li class="bright-yellow-background dark-text"><a href="<%= portfolio_path %>"><%= current_user.item_arts.count %><br>Listed Works</a></li>

</ul>

<div class="dashboard-horizontal-item">
	
	<table class="dashboard-table">
		
		<th>Recent Sales</th>

		<tr>
			<td>Piece</td>
			<td>Price</td>
			<td>Purchase Date</td>
			<td>Status</td>
		</tr>

		<% current_user.purchases_of_my_work.each do |purchase| %>

			<tr>
				<td><%= image_tag purchase.item_art.image.url, class: "small-item-image"%><br><%= purchase.item_art.name %></td>
				<td><%= number_to_currency(purchase.amount) %></td>
				<td><%= purchase.created_at.strftime("%b %d") %></td>
				<td><%= purchase.status_as_string %></td>
			</tr>

		<%end%>

	</table>

</div>

<div class="dashboard-horizontal-item">
	<table class="dashboard-table">

		<th>Recent Views</th>

		<tr>
			<td>Piece</td>
			<td>Date</td>
		</tr>

		<% current_user.views.each do |view| %>

			<tr>

				<td><a><%= view.item_art.name %></a></td>
				<td><a><%= view.created_at.strftime("%b %d") %></a></td>

			</tr>

		<% end%>

	</table>

</div>