

<div class="sidebar-container">

	<div class="sidebar-panel">

		<ul>
			
			<li class="dashboard-option dashboard-nav-option sales-view <% if @page=="home" %>active<%end%>" id="home" data-dashboard-item-id="sales-view">
						
				<a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 5px;"></span><br><span>Home</span></a>


			</li>


			<% if user_signed_in?%>


				<% if current_user.is_artist %>

					<li class="dashboard-option dashboard-nav-option sales-view <% if @page=="home" %>active<%end%>" id="home" data-dashboard-item-id="sales-view">
						
						<a href="<%= root_path %>"><span class="glyphicon glyphicon-stats" aria-hidden="true" style="margin-right: 5px;"></span><span>Dashboard</span></a>

					</li>

					<li class="dashboard-option dashboard-nav-option balance-view <% if @page=="balance_payments" %>active<%end%>" id="balance">
						
						<a href="<%= balance_payments_path %>"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span><span>Balance: <%= number_to_currency(current_user.stripe_balance) %></span></a>

					</li>


				<% elsif current_user.is_gallery %>

					<li class="dashboard-option <% if @page=="artists" %>active<%end%>" id="home" data-content-panel="home-content">
						
						<a href="<%= gallery_artists_path %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br><span>Artists</span></a>

					</li>

					<li class="dashboard-option <% if @page=="work" %>active<%end%>" id="works" data-content-panel="home-content">
						
						<a href="<%= works_path %>"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br><span>Works</span></a>

					</li>

					<li class="dashboard-option <% if @page=="shows" %>active<%end%>" id="home" data-content-panel="home-content">
						
						<a href="<%= dashboard_shows_path %>"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><br><span>Shows & Festivals</span></a>

					</li>

					<li class="dashboard-option <% if @page=="sales" %>active<%end%>" id="home" data-content-panel="home-content">
						
						<a href="<%= sales_path %>"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><br><span>Sales</span></a>

					</li>

				<%end%>


					<li class="dashboard-option <% if @page_title =="Account Settings" %>active<%end%>" id="account-settings" data-content-panel="settings-content">
						
						<a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="margin-right: 5px;"></span><br><span>Settings</span></a>

					</li>

					<li class="dashboard-option"><a data-method="delete" href='<%= destroy_user_session_path%>'>Logout</a></li>

			<%else%>

				<li class="dashboard-option" id="signup">
					
					<a class="header-cta purple" href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 5px;"></span>Signup</a>

				</li>

				<li class="dashboard-option" id="login">
						
					<a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in" aria-hidden="true" style="margin-right: 5px;"></span>Login</a>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "About Us", about_path %>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "How it Works", about_path %>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "Browse Art", about_path %>

				</li>


			<%end%>

		</ul>

	</div>

</div>


<%= render :partial => 'modals/new_artwork_image', :locals => {:item_art => ItemArt.new } %>

