
<div class="dashboard-fixed-header">
	
	<ul class="horizontal full-length header">

		<li class="dashboard-nav-option active" data-dashboard-item-id="sales"><a >Sales<span class="badge-number"><%= number_to_currency(current_user.total_revenue, precision: 0) %></span></a></li>
		<li class="dashboard-nav-option" data-dashboard-item-id="views"><a>Views<span class="badge-number"><%= current_user.views.count %></span></a></li>
		<li class="dashboard-nav-option" data-dashboard-item-id="works"><a>Works<span class="badge-number"><%= current_user.item_arts.count %></span></a></li>

	</ul>
</div>

<div class="dashboard-item" id="sales">

	<%= render 'pages/user/warnings' %>
	
	<table class="dashboard-table">

		<% current_user.purchases_of_my_work.each do |purchase| %>

			<tr>
				<td><%= image_tag purchase.item_art.image.url, class: "small-item-image"%></td>
				<td>"<%= purchase.item_art.name %>" was purchased <%= purchase.created_at.strftime("%b %d") %> for <%= number_to_currency(purchase.amount, precision: 0) %>.<br>Status: <%= purchase.status_as_string %></td>
			</tr>

		<%end%>

	</table>

</div>

<div class="dashboard-item" id="views" style="display: none;">

	<%= render 'pages/user/warnings' %>
	
	<table class="dashboard-table">

		<% current_user.views.each do |view| %>

			<tr>

				<td><a><%= view.item_art.name %></a></td>
				<td><a><%= view.created_at.strftime("%b %d") %></a></td>

			</tr>

		<% end%>

	</table>

</div>

<div class="dashboard-item" id="works" style="display: none;">

	<%# render 'pages/user/warnings' %>
	
	<div class="portfolio-container">

		<% if current_user.item_arts.count > 0 %>
			
			<% current_user.item_arts.each do |item| %>
			
				<%= render :partial => 'item_arts/index_show', :locals => {:item => item} %>

			<% end %>

		<%else%>

			<div class="nothing-to-see-container">

				<p class="red">You have not shared any artwork yet. <%= link_to "Add Art Works", new_item_art_path, class: "warning-text-cta" %></p>

			</div>

		<%end%>

	</div>

</div>