

<div class="sidebar-container">

	<div class="sidebar-panel">

		<ul>
			<% unless current_user.is_artist %>
			
			<li class="dashboard-option" id="home" data-content-panel="home-content">
						
				<a href="<%= root_path %>"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="margin-right: 5px;"></span>Return Home</a>

			</li>

			<%end%>
			
			<li class="dashboard-header" id="site-title">

				<a class="name" href="<%= profile_path(current_user.display_name) %>"><%= image_tag current_user.image.url(:medium), class: "sidebar-profile-image"%><br><%= current_user.display_name %></a>

				<% if current_user.is_artist %>
					
					<br>
					<a href="<%= balance_payments_path %>">Balance: <%= number_to_currency(current_user.stripe_balance) %></a>

					<a href='<%=new_item_art_path%>' class="cta red-background"><span class="glyphicon glyphicon-plus"></span><span>Add New Artwork</span></a>

				<%end%>

			</li>

			

			<% if user_signed_in?%>

				<% if current_user.is_artist %>

					<li class="dashboard-option <% if @page=="home" %>active<%end%>" id="home" data-content-panel="home-content">
						
						<a href="<%= root_path %>"><span class="glyphicon glyphicon-dashboard" aria-hidden="true" style="margin-right: 5px;"></span>Dashboard</a>

					</li>

	<!-- <li class="dashboard-option <%# if @page=="work" %>active<%#end%>" id="work" data-content-panel="work-content">
						
						<a href="<%# portfolio_path %>"><span class="glyphicon glyphicon-picture" aria-hidden="true" style="margin-right: 5px;"></span>My Portfolio</a>

					</li>

	<li class="dashboard-option <%# if @page=="home" %>active<%#end%>" id="home" data-content-panel="home-content">
						
						<a href="<%# root_path %>"><span class="glyphicon glyphicon-stats" aria-hidden="true" style="margin-right: 5px;"></span><span>Recent Stats</span></a>

					</li> -->


					<li class="dashboard-option <% if @page=="messages" %>active<%end%>" id="messages" data-content-panel="messages-content">
						
						<a href="<%= inbox_path %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span><span>Inbox</span></a>

					</li>


	<!-- 				<li class="dashboard-option <%# if @page=="balance" %>active<%#end%>" id="balance" data-content-panel="balance-content">
						
						<a href="<%# balance_path %>"><span class="glyphicon glyphicon-usd" aria-hidden="true" style="margin-right: 5px;"></span><span>My Sales</span></a>

					</li> -->



	<!-- 				<li class="dashboard-option <%# if @page=="views" %>active<%#end%>" id="views" data-content-panel="views-content">
						
						<a href="<%# views_path %>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="margin-right: 5px;"></span>Views</a>

					</li> -->


					<li class="dashboard-option <% if @page=="settings" %>active<%end%>" id="account-settings" data-content-panel="settings-content">
						
						<a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="margin-right: 5px;"></span><span>Account Settings</span></a>

					</li>

				<% else %>

					<li class="dashboard-option <% if @page=="mypurchases" %>active<%end%>" id="home" data-content-panel="home-content">
						
						<a href="<%= my_purchases_path %>"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="margin-right: 5px;"></span>My Purchases</a>

					</li>

					<li class="dashboard-option <% if @page=="messages" %>active<%end%>" id="messages" data-content-panel="messages-content">
						
						<a href="<%= inbox_path %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span><span>Inbox</span></a>

					</li>

					<li class="dashboard-option <% if @page=="settings" or @page == "payment settings" %>active<%end%>" id="account-settings" data-content-panel="settings-content">
						
						<a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog" aria-hidden="true" style="margin-right: 5px;"></span><span>Account Settings</span></a>

					</li>
					

				<%end%>

			<%else%>

				<li class="dashboard-option" id="signup">
					
					<a class="header-cta purple" href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 5px;"></span>Signup</a>

				</li>

				<li class="dashboard-option" id="login">
						
					<a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in" aria-hidden="true" style="margin-right: 5px;"></span>Login</a>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "About Us", about_path %>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "How it Works", about_path %>

				</li>

				<li class="dashboard-option" id="about">
					
					<%= link_to "Browse Art", about_path %>

				</li>


			<%end%>

		</ul>

	</div>

</div>

