<%= render 'pages/user/dashboard_header' %>

<div class="dashboard-panel" id="messages-content">

	<!-- <h3 class="dashboard-header-text"><%# @page_title %></h3> -->

	<% if current_user.messages_to_me.count > 0 %>
			
		<% current_user.messages_to_me.each do |message| %>

			<%= link_to(message) do %>
				
				<div class="message">

					<div class="message-sender">

						<span><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%><span class="message-list-sender"><%= current_user.display_name %></span></span>

					</div>

					<div class="message-text">

						<span class="message-list-subject"><%= message.subject %></span><span><%= message.body %></span>

					</div>

					<div class="message-action">

						<span><%= message.created_at.strftime("%b %d") %></span>

						<span class="glyphicon glyphicon-trash"></span>

					</div>

				</div>

			<%end%>

		<% end%>

	<% else %>

		<div class="nothing-to-see-container">

			<p>No incoming messages.</p>

		</div>

	<% end%>

</div>