<%= render 'pages/user/dashboard_header' %>
	


	<% if current_user.messages_to_me.count > 0 %>

	<div class="dashboard-item no-nav">
			
		<% current_user.messages_to_me.each do |message| %>

			<%= link_to(message) do %>
				
				<div class="message">

					<div class="message-sender">

						<span><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%></span>

					</div>

					<div class="message-text">
						
						<span class="message-list-sender"><%= current_user.display_name %></span>
						<br>
						<span><%= message.body %></span>

					</div>

				</div>

			<%end%>

		<% end%>
	
	</div>

	<% else %>

		<div class="dashboard-item no-nav blank">

			<div class="nothing-to-see-container">

				<p>No incoming messages.</p>

			</div>
			
		</div>

	<% end%>

