<div class="dashboard-panel" id="work-content">

	<%= render 'pages/user/warnings' %>
	
	<h3 class="text-header-underline"><span class="glyphicon glyphicon-picture" aria-hidden="true" style="margin-right: 5px;"></span>Portfolio</h3>

	<% current_user.item_arts.each do |item| %>

		<%= link_to(item) do %>
	
			<div class="lightbox">

				<%= image_tag item.image.url(:medium), class: "medium-item-image"%>

				<br>

				<h3><%= item.name %></h3>

				<h3><%= number_to_currency(item.price) %></h3>

				<a class="button blue-background">Unlist</a>

			</div>

		<%end%>

	<% end%>

</div>