<%= render 'pages/user/dashboard_header' %>
	
<%= render 'pages/user/settings_header' %>
	
	<div class="dashboard-item" id="payments">
		
		<%= form_tag update_stripe_account_path, id: 'stripeAccountForm', class: 'edit_user_settings' do %>

		    <div class="field">
		      <label>First Name</label><br />
		      <input type="text" placeholder="First Name" name="firstName" value=<%=@firstName%>></input>
		    </div>


		    <br />

		    <div class="field">
		      <label>Last Name</label><br />
		      <input type="text" placeholder="Last Name" name="lastName" value=<%=@lastName%>></input>
		    </div>


		    <br />

		    <div class="field">
		    	<label>DOB</label><br />
		    	<input type="date" max ="2010-01-01" min ="1905-01-01" name="dobDate" value="<%= @dob_year%>-<%= @dob_month%>-<%= @dob_day%>">

			</div>

			<br />

			<div class="field">
		      <label>SSN Last 4</label><br />
		      <input type="text" placeholder="****" name="last4" value=<%=@last4%>></input>
		    </div>


		    <br />

			<div class="field">
		      <label>Address Line 1</label><br />
		      <input type="text" placeholder="Address Line 1" name="addressLine1" value=<%= @addressLine1 %>></input>
		    </div>

		    <br />

		    <div class="field">
		      <label>Address Line 2</label><br />
		      <input type="text" placeholder="Address Line 2" name="addressLine2" value=<%= @addressLine2 %>></input>
		    </div>

		    <br />

		    <div class="field">
		      <label>City</label><br />
		      <input type="text" placeholder="City" name="city" value=<%= @city %>></input>
		    </div>

		    <br />

		    <div class="field">
		      <label>Postal Code</label><br />
		      <input type="text" placeholder="Postal Code" name="postalCode" value=<%= @postalCode %>></input>
		    </div>

		    <br />

		    <div class="field">
		      <label>State/Province</label><br />
		      <input type="text" placeholder="State/Province" name="stateProvince" value=<%= @stateProvince %>></input>
		    </div>

		    <br />

		    <div class="actions">
		      <input type="submit" value="Update" id="update-stripe-account" class="button orange-background medium item-buy-action">
		    </div>

  		<% end %>

  	</div>