<%= render 'pages/user/dashboard_header' %>

<div class="dashboard-fixed-header">
	<ul class="horizontal full-length header">

		<li class="active"><%= link_to "Profile", settings_path %></li><li><%= link_to "Personal", payment_settings_path %></li><li><%= link_to "Payments", bank_accounts_path %></li>

	</ul>
</div>

<div class="dashboard-item" id="profile">

	<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class: "edit_user_settings" }) do |f| %>

	    <div class="field">
	      <%= f.label :email %><br />
	      <%= f.email_field :email %>
	    </div>

	    <br />

	    <div class="field">
	      <%= f.label :display_name %><br />
	      <%= f.text_field :display_name %>
	    </div>

	    <br />

	    <div class="field">
	      <label>Profile Picture</label>
	      <%= f.file_field :image, class: "form-control" %>
	    </div>

	   
	    <br />

	    <div class="field">
	      <%= f.label "Artist Statement" %><br />
	      <%= f.text_area :about %>
	    </div>

	    <br />

	    <div class="field">
	      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
	      <%= f.password_field :password, autocomplete: "off" %>
	      <% if @minimum_password_length %>
	        <br />
	        <em><%= @minimum_password_length %> characters minimum</em>
	      <% end %>
	    </div>

	    <br />

	    <div class="actions">
	      <%= f.submit "Update", class:"button medium blue-background" %>
	    </div>

		<% end %>

</div>