
<div class="dashboard-item" id="works">
  
  <%= render 'pages/user/warnings' %>

  	<div class="dashboard-actions centered">

		<a class="black-background button medium" href="<%= new_show_path %>">+ Add Show</a>

		<!-- <a class="black-background button medium">+ Add Festival</a> -->

	</div>

	<div class="dashboard-section-header">

		<ul>
			<li><a class="click-to-reveal active" data-reveal-panel-id="all">All</a></li><li><a class="click-to-reveal" data-reveal-panel-id="active">Active</a></li><li><a class="click-to-reveal" data-reveal-panel-id="past">Past</a></li>
		</ul>

	</div>

	<div class="reveal-panel" id="all">

		<table>

			<tr>
				<td>Name</td>
				<td>Start Date</td>
				<td>End Date</td>
				<td>Open to the Public?</td>
			</tr>

			<% current_user.gallery_shows.all.each do |show|%>

				<tr>
					<td><%= show.name %></td>
					<td><%= show.begin_date.strftime("%b %e, %Y") %></td>
					<td><%= show.end_date.strftime("%b %e, %Y") %></td>
					<td><%= show.open_to_public %></td>
				</tr>

			<%end%>

		</table>

	</div>

	<div class="reveal-panel default-off" id="active">

		Active

	</div>

	<div class="reveal-panel default-off" id="past">

		Past

	</div>


</div>





