
<div class="dashboard-item">
	
	<% if current_user.gallery_submissions.count > 0 %>

		<table class="select-item-table">

	        <thead>

	          <tr>
	            <th>Gallery</th>
	            <th>Submission Date</th>
	            <th># of Pieces Submitted</th>
	            <th>Status</th>
	          </tr>

	        </thead>

	        <tbody>
	        
	          <% current_user.gallery_submissions.each do |submission| %>
		            
	            <tr class="outlined clickable">

	              <td><%= submission.gallery.name %></td>
	              <td><%= submission.created_at.strftime("%b %d, %Y") %></td>
	              <td><%= submission.collection.items.count %></td>
	              <td><%= submission.status %></td>

	            </tr>

	          <%end%>

	        </tbody>

	    </table>

	<%else%>

		<p>Nickle</p>

	<%end%>
	
</div>


<%= render 'layouts/new_submission_cta' %>