
<div class="dashboard-item">

	<%= render 'pages/user/warnings' %>

	<% if current_user.gallery_submissions.count > 0 %>

	<% current_user.gallery_submissions.reverse.each do |submission| %>

		<a href="<%= root_path %>">

			<div class="dashboard-index clickable">
				
				<span>You Submitted <%= submission.collection.items.count %> portfolio pieces to <%= submission.gallery.name %> on <%= submission.created_at.strftime("%b %d, %Y") %>.</span>

				<br>

				<span>Status: <%= submission.status %></span>

			</div>

		</a>

	<%end%>

	<%else%>


		<% if current_user.item_arts.count > 0 %>

			<h3 class="centered">You have not submitted your portfolio to any galleries.</h3>

			<div class="centered"><a href="<%= select_gallery_path %>" class="cta bright-blue-background"><span class="glyphicon glyphicon-plus"></span><span>New Submission</span></a></div>

		<%end%>

	<%end%>
	
</div>


<%= render 'layouts/new_submission_cta' %>