
<div class="dashboard-item">

	<% if current_user.gallery_submissions.count > 0 %>

	<% current_user.gallery_submissions.reverse.each do |submission| %>

		<a href="<%= root_path %>">

			<div class="dashboard-index clickable">
				
				<span>You Submitted <%= submission.collection.items.count %> to <%= submission.gallery.name %> on <%= submission.created_at.strftime("%b %d, %Y") %>.</span>

				<br>

				<span>Status: <%= submission.status %></span>

			</div>

		</a>

	<%end%>

	<%else%>

		<p>Nickle</p>

	<%end%>
	
</div>


<%= render 'layouts/new_submission_cta' %>