<section class="single-page-landing dark-blue-background">

	<div class="single-page-landing-container centered">

		<div class="landing-inner">

			<h3>Become an ArtYam Affiliate</h3>

			<p class="centered">Earn 10% recurring commissions, forever.</p>

			<br>

			<a href="<%= signup_for_affiliates_path %>" class="cta red-background button large">Signup to Be An Affiliate</a>

		</div>

	</div>

</section>

<section class="home-primary">

	<div class="landing-content-container">

		<h3>What does ArtYam do?</h3>

		<p>ArtYam helps artists sell more art in non-gallery venues like cafes, retail shops, restaurants, banks, hospitals, etc.  ArtYam puts artists in control of their marketing in any venue by giving them the tools to directly engage art collectors with information about themselves and their artwork through online tear sheets.  ArtYam also provides payment processing capabilities that enable art collectors to instantly buy an artist's work online commission-free.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>Why do artists need ArtYam?</h3>

		<p>Artists need ArtYam because it overcomes the 3 biggest obstacles to selling more art in non-gallery venues:</p>

		<br>

		<ol class="landing-page-list">
			
			<li><span class="red-text">Challenge #1:</span> Venue staff often lack the incentive and/or knowledge to sell art</li>

			<p>For most non-gallery venues, selling art is not their primary business; therefore, the venue staff have very little incentive to sell an artist's work or even know anything about it.  This means many missed opportunities to convert a potential buyer from "interested" to "buying" because they cannot get more information about the artist or their work.</p>

			<p><span class="green-text paragraph-intro">Solution:</span> ArtYam creates online tear sheets that provide potential buyers with instant access to additional information about artists and their work. These tear sheets provide information that simply cannot fit on printed placards below a display.</p>

			<br>

			<li><span class="red-text">Challenge #2:</span> It's difficult to engage potential buyers after they leave the venue</li>

			<p>Traditional advice on engaging collectors after they leave a venue where an artist's work is displayed is to provide something for the collector to take with them, such as a business card or printed promotional material.  However, these printed materials  have limited effectiveness because they have a tendency to get misplaced, either by the venue or the potential buyer.</p>

			<p><span class="green-text paragraph-intro">Solution:</span> ArtYam gives art collectors the ability to email to themselves a detailed tear sheet for an artist's work in order to review later. Additionally, ArtYam sends follow-up emails to determine if a collector is still interested in buying the piece.</p>

			<br>

			<li><span class="red-text">Challenge #3:</span> No instant purchasing options</li>

			<p>Artists frequently lose sales between the time an art collector contacts them through traditional channels (like email) and when the artist redirects them to a third party payment processor, like Paypal or SquareUp. Collectors may lose interest or simply forget to complete the transaction.</p>  

			<p><span class="green-text paragraph-intro">Solution:</span> ArtYam gives collectors the option to buy an artist's work on-the-spot with any major credit card through the artwork's easily accessible online tear sheet.</p>

		</ol>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>How does ArtYam work?</h3>

		<br>

		<ol class="landing-page-list">
			
			<li>Artists create ArtYam tear sheets for their artwork.</li>

			<p>Artists upload a photo of their work to ArtYam along with a few basic details, such as the title and a description.  ArtYam then generates an online tear sheet for the artwork where collectors can learn more about the artwork and the artist, as well as buy the piece online. Setting up an ArtYam tear sheet takes about three minutes.</p>

			<%= link_to direct_link_to_item_art_path("62b1") do %>
			
				<div>
					<img class="home-page-sample-artwork" src="https://s3.amazonaws.com/canaryair/home-page-sample-artwork-page.jpg"></img>
					<p class="centered"><%= link_to "ArtYam.com/62b1", direct_link_to_item_art_path("62b1") %> </p>
				</div>

			<%end%>


			<li>ArtYam provides a short, readable links to the artist's tear sheets that they include along with the placard in their display.</li>

			<p>Artists include their ArtYam links (i.e. <%= link_to "ArtYam.com/62b1", direct_link_to_item_art_path("62b1") %>) in the placard for their display, typically below the title, dimensions, and price.  This makes the ArtYam tear sheet for the piece instantly accessible anyone that sees the display on any device.</p>

			<br>

			<li>ArtYam tear sheets engage art collectors.</li>

			<p> In addition to providing additional information about the artwork and the artist, ArtYam tear sheets give art collectors the ability to email the tear sheet to themselves to review later and purchase the art online using any major credit card. ArtYam forwards all relevant buyer contact information to the artist and remits proceeds from sales to the artist within 2 business days.</p>  

		</ol>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>How does the affiliate program work?</h3>

		<p>When you become an ArtYam affiliate we’ll give you a unique referral link that you can share through your blog, ad, Facebook post, tweet – or anything else. You’ll earn a 10% recurring commission for every customer that signs up for ArtYam through your link. It is that simple.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<h3>How much does ArtYam cost?</h3>

		<p>ArtYam costs $11/month, plus a 3% credit card processing fee for all sales completed through ArtYam. ArtYam charges no additional commissions and does not limit the number of pieces an artists can sell through ArtYam.</p>

		<p>ArtYam affiliates receive 10% commission, or $1.10, per month, per customer for the life of the customer.</p>

	</div>

</section>


<section class="home-primary">

	<div class="landing-content-container">

		<a href="<%= signup_for_affiliates_path %>" class="cta red-background button large">Become an ArtYam Affiliate</a>

	</div>

</section>
