
<% unless @hide_header_on_all_devices %>

<div class="header-container <% if @hide_header %> mobile-only <%end%>">

	<% if user_signed_in?%>

		<div class="header-content">

			<% if user_signed_in? %>
				
				<% if current_user.is_artist %>

					<ul class="header-left">

						<!-- <li><%#= link_to "Artagami", root_path, class: "header-logo" %></li> -->
		
						<li><a class="header-return-home" href="<%= root_path %>"><% if @hide_return_to_home %><span class="glyphicon glyphicon-home" style="margin-right: 15px;"></span>Home<%else%><span class="glyphicon glyphicon-arrow-left" style="margin-right: 15px;"></span><%= @page_title %><%end%></a></li>

						<li><a>Environment: <%=Rails.env%>ere<%= ENV['STRIPE_SECRET_KEY'] %>2266</a></li>

					</ul>

					<% unless @return_home_only or !@hide_return_to_home %>

						<ul class="header-right">

<!-- 							<li>
								<a href="<%# inbox_path %>"><span class="glyphicon glyphicon-envelope mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Inbox</span></a>
							</li>

							<li>
								<a href="<%# select_gallery_path %>">New Submission</a>
							</li> -->

							<li>
								<a class="new-artwork-image-modal modal-cta clickable"><span class="glyphicon glyphicon-plus mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Add Artwork</span></a>
							</li>

							<li>

								<% if current_user.display_name %>
									
									<a href="<%= profile_path(current_user.display_name) %>"><%= image_tag current_user.image.url(:medium), class: "header-profile-image" %></a>

								<%end%>
							</li>

							<li>
								<a class="clickable" href="<%= balance_payments_path %>"><span class="glyphicon glyphicon-usd mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Balance: <%= number_to_currency(current_user.stripe_balance) %></span></a>
							</li>

							<li>
								<a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Account Settings</span></a>
							</li>



						</ul>

					<%end%>

				<%else%>

					<ul class="header-left">
							
						<li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span></a></li>

						<li><a class="header-page-title"><%= @page_title %></a></li>

					</ul>

					<ul class="header-right">

						<li><a href="<%= my_purchases_path %>"><span class="glyphicon glyphicon-shopping-cart mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">My Purchases</span></a></li>

						<li><a href="<%= inbox_path %>"><span class="glyphicon glyphicon-envelope mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Inbox</span></a></li>

						<li><a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog mobile-only" aria-hidden="true"></span><span class="hide-on-mobile">Settings</span></a></li>

						<li><a data-method="delete" href='<%= destroy_user_session_path%>'>Logout</a></li>

					</ul>

				<%end%>

			<%end%>

		</div>

	<%else%>

		<div class="header-content">

			<ul class="header-left">

				<li><%= link_to "ArtYam", root_path, class: "header-logo" %></li>

			</ul>

			<% if @page == "home" %>
			
				<!-- <form action="/item_search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

					<ul class="horizontal header-search-form">

		    			<li><input type="text" class="dark-text-input search-code-input" name="search" id="search" placeholder="Search Code" autofocus></li><li><button type="submit" class="blue-background search-code-input"><span class="glyphicon glyphicon-search"></span></button></li>

		    		</ul>
		    
		   
				</form> -->

			<%end%>

			<ul class="header-right">
				
				<li><%= link_to "Login", login_path %></li>
						
				<li><%= link_to "Signup", signup_path %></li>

			</ul>

		</div>


	<%end%>

	
</div>

<% end %>