<div class="header-container">

	<div class="header-content">

		<ul class="header-left">

			<li><%= link_to "Art", root_path, class: "header-logo" %></li>

			<li><a href='<%= message_dashboard_path %>'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><br><span>Messages</span></a></li>
			
			<li><a href='<%= sales_dashboard_path %>'><span class="glyphicon glyphicon-usd"></span><br><span>Sales</span></a></li>

		</ul>

		<ul class="header-right">
			
			<% if user_signed_in? %>
				
				<% if current_user.is_artist %>
					
					<li><a href='<%= about_path %>'><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%></a></li>

				<% end %>

				<% if current_user.is_buyer %>
					
					<li><a href='<%= about_path %>'>Search by Code</a></li>

				<% end %>

	<!-- 			<li><a href='<%# about_path %>'><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin: 0px 5px;"></span>Messages</a></li>

				<li><a href='<%# about_path %>'><span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="margin: 0px 5px;"></span>Help</a></li> -->

	<!-- 			<li><a data-method="delete" href='<%#destroy_user_session_path%>'>Logout</a></li> -->

			<% else %>

				<li><%= link_to "Login", new_user_session_path %></li>
				<li><%= link_to "Signup", new_user_registration_path %></li>

			<% end %>
		</ul>

	</div>

</div>