<div class="header-container">

	<div class="header-content">

		<ul class="header-left">

			<li><%= link_to "Artagami", root_path, class: "header-logo" %></li>

			<% if user_signed_in?%>

				<% if current_user.is_artist %>

<!-- 					<li><a href='<%# edit_user_registration_path %>'>Balance: $20.00</a></li> -->

				<% end %>

			<% end %>

		</ul>

		<ul class="header-right">
			
			<div class="full-menu-options">

				<% if user_signed_in? %>
					
					<% if current_user.is_artist %>

						<li><a class="header-cta purple" href='<%=new_item_art_path%>'><span class="glyphicon glyphicon-plus"></span><span>Add New Artwork</span></a></li>

						<!-- <li><%# link_to "Add New Exhibition", new_exhibition_path %></li> -->

						<li>
					
							<a href="<%= profile_path(current_user.display_name) %>"><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%><%= current_user.display_name %></a>
						</li>

					<% end %>

					<% if current_user.is_buyer %>
						
						<li><a href='<%= about_path %>'>Search by Code</a></li>

					<% end %>

		<!-- 			<li><a href='<%# about_path %>'><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin: 0px 5px;"></span>Messages</a></li>

					<li><a href='<%# about_path %>'><span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="margin: 0px 5px;"></span>Help</a></li> -->

		<!-- 			<li><a data-method="delete" href='<%#destroy_user_session_path%>'>Logout</a></li> -->

				<% else %>

					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Signup", new_user_registration_path %></li>

				<% end %>

			</div>

			<div class="mobile-menu-options">

				<!-- <li><a class="mobile-button">Menu</a></li> -->

				<li class="mobile-only"><a href="<%= inbox_path %>"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>

				<li class="mobile-only"><a href="<%= profile_path(current_user.display_name) %>"><%= image_tag current_user.image.url(:medium), class: "header-profile-image"%></a></li>

				<li class="mobile-only"><a href="<%= settings_path %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>

			</div>

		</ul>

	</div>

</div>