
<!-- <p>
  <strong>Biography:</strong>
  <%# @artist.biography %>
</p>

<p>
  <strong>Artist statement:</strong>
  <%# @artist.artist_statement %>
</p> -->


<div class="open-page-container">

  <div class="profile-header">

    <div class="profile-header-content">

        <%= image_tag @gallery.image.url(:medium), class: "medium-profile-image"%>

        <br>

        <h2><%= @gallery.name %></h2>

        <p><%= @gallery.city %>, <%= @gallery.state_province %></p>

    </div>

  </div>

  <div class="profile-content">

    <div class="section-header-nav">

      <ul>
        <li><a href="<%= gallery_profile_path(@gallery.name) %>">For Sale</a></li><li><a href="<%= gallery_profile_shows_path(@gallery.name) %>" class="active">Shows</a></li>
      </ul>

    </div>


      <div id="works">

        <% if @gallery.shows.count > 0 %>

          <%= render partial: 'shows/index_grid', :locals => {:shows =>  @gallery.shows, :image_only => false, :columns => 3} %>

        <%else%>

        <%end%>

      </div>



  </div>


</div>
