<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @gallery.city %>
</p>

<p>
  <strong>State province:</strong>
  <%= @gallery.state_province %>
</p>

<p>
  <strong>Country:</strong>
  <%= @gallery.country %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
