<div class="content">

  <ul class="horizontal centered step-header">
    
    <li><span class="glyphicon glyphicon glyphicon-ok circular-number"></span><a class="step" href="<%= select_gallery_path %>">Select Gallery</a></li>
    <li><span class="glyphicon glyphicon glyphicon-ok circular-number"></span><a class="step" href="<%= gallery_submission_setup_path(@gallery.id) %>" >Choose Artwork</a></li>
    <li><span class="circular-number">3</span><br><span class="active step">Confirm & Pay</a></li>

  </ul>
  
  <%# form_tag create_collection_path(@gallery_submission.id) do %>
  <%# form_for(@gallery_submission) do |f| %>
  
    <div class="button-container">
      <input type="submit" class="button medium green-background" value="Submit for $5"/>
    </div>


    <h4 class="centered">Your Submission to <span style="color: blue;"><%= @gallery_submission.gallery.name %></span>:</h4>

    <br>

    <table class="select-item-table">

        <thead>

          <tr>
            <th></th>
            <th>Title</th>
            <th>Medium</th>
            <th>Price</th>
          </tr>

        </thead>

        <tbody>

          <% @collection.items.each do |item| %>

            <tr class="outlined">

              <td><%= image_tag item.image.url, class: "small-image"%></td>
              <td><%= item.name %></td>
              <td><%= item.medium %></td>
              <td><%= number_to_currency(item.price, precision: 0) %></td>
              
            </tr>

          <%end%>

        </tbody>

    </table>

    <div class="button-container">
      <input type="submit" class="button medium green-background" value="Submit for $5"/>
    </div>

  <%#end%>

</div>
