<%= render 'gallery_submissions/gallery_submission_step_header' %>

<div class="content">

  <h2 class="centered instructions">Confirm Portfolio Submission to <span style="color: blue;"><%= @gallery.name %></span></h2>
  
  <%# form_tag create_collection_path(@gallery_submission.id) do %>
  <%# form_for(@gallery_submission) do |f| %>

    <input type="submit" value="Save"/>

    <table class="select-item-table">

        <thead>

          <tr>
            <th></th>
            <th>Title</th>
            <th>Medium</th>
            <th>Price</th>
          </tr>

        </thead>

        <tbody>

          <% @collection.items.each do |item| %>

            <tr class="outlined">

              <td><%= image_tag item.image.url, class: "small-image"%></td>
              <td><%= item.name %></td>
              <td><%= item.medium %></td>
              <td><%= number_to_currency(item.price, precision: 0) %></td>
              
            </tr>

          <%end%>

        </tbody>

    </table>

  <%#end%>

</div>
