<%= render 'gallery_submissions/gallery_submission_step_header' %>

<div class="content">

  <%= form_tag create_collection_path(@gallery_submission.id) do %>

  <h4 class="centered">Choose Up to <%= @gallery_submission.gallery.number_of_images %> Pieces to Submit to <span style="color: blue;"><%= @gallery_submission.gallery.name %></span>:</h4>

  <br>

    <table class="select-item-table">

        <thead>

          <tr>
            <th></th>
            <th>Title</th>
            <th>Medium</th>
            <th>Price</th>
          </tr>

        </thead>

        <tbody>
        
          <% current_user.item_arts.all.each do |item| %>

            <tr class="outlined clickable green-on-click">

              <td><%= image_tag item.image.url, class: "small-image"%></td>
              <td><%= item.name %></td>
              <td><%= item.medium %></td>
              <td><%= number_to_currency(item.price, precision: 0) %></td>
              <td class="default-off"><input class="select-item-checkbox" name="item[<%=item.id%>]" type="checkbox"/></td>

            </tr>

          <%end%>

        </tbody>

    </table>


    <div class="button-container">
      <input type="submit" class="button large bright-blue-background" value="Next"/>
    </div>

  <%end%>

</div>