<div class="content">

  <ul class="horizontal centered step-header">
    
    <li><span class="glyphicon glyphicon glyphicon-ok circular-number"></span><a class="step" href="<%= select_gallery_path %>">Select Gallery</a></li>
    <li><span class="circular-number">2</span><br><span class="step active">Choose Artwork</span></li>
    <li><span class="circular-number">3</span><br><span class="step">Confirm & Pay</span></li>

  </ul>

  <%= form_tag create_collection_path(@gallery_submission.id) do %>

  
    <div class="button-container">
      <input type="submit" class="button medium green-background" value="Next"/>
    </div>

  <h4 class="centered">Choose <%= @gallery_submission.gallery.number_of_images %> Pieces to Submit to <span style="color: blue;"><%= @gallery_submission.gallery.name %></span>:</h4>

  <br>

    <table class="select-item-table">

        <thead>

          <tr>
            <th></th>
            <th>Title</th>
            <th>Medium</th>
            <th>Price</th>
          </tr>

        </thead>

        <tbody>
        
          <% current_user.item_arts.all.each do |item| %>

            <tr class="outlined clickable green-on-click">

              <td><%= image_tag item.image.url, class: "small-image"%></td>
              <td><%= item.name %></td>
              <td><%= item.medium %></td>
              <td><%= number_to_currency(item.price, precision: 0) %></td>
              <td class="default-off"><input class="select-item-checkbox" name="item[<%=item.id%>]" type="checkbox"/></td>

            </tr>

          <%end%>

        </tbody>

    </table>


    <div class="button-container">
      <input type="submit" class="button medium green-background" value="Next"/>
    </div>

  <%end%>

</div>