<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%# f.label :is_festival %><br>
    <%# f.check_box :is_festival %>
  </div> -->

  <div class="field">
    <label>Name of Show</label><br>
    <%= f.text_field :name %>
  </div>

  <% if current_user.galleries.count > 1 %>
    
    <div class="field">
      <label>Gallery/Venue</label><br>
      <%= f.collection_select :gallery_id, current_user.galleries, :id, :name, :prompt => true %>
    </div>


  <% elsif current_user.galleries.count == 1 %>

    <%= f.hidden_field :gallery_id, :value => current_user.galleries.last.id %>

  <%end%>



  <div class="field">

    <table class="input-table">

      <tr>
        <td style="padding-right: 20px;"><label>Start Date</label></td>
        <td><label>End Date</label></td>
      </tr>

      <tr>
        <td style="padding-right: 20px;"><input type="text" class="datepicker" name="begin_date"></td>
        <td><input type="text" class="datepicker" name="end_date"></td>
      </tr>

    </table>

  </div>

  <div class="field">
    <label>Open to the Public?</label><br>
    <%= f.check_box :open_to_public %>
  </div>
<!--   <div class="field">
    <%# f.label :gallery_id %><br>
    <%# f.number_field :gallery_id %>
  </div> -->
  <div class="actions">
    <%= f.submit "Save Details", class: "button large black-background" %>
  </div>
<% end %>
