<p id="notice"><%= notice %></p>

<p>
  <strong>Is festival:</strong>
  <%= @show.is_festival %>
</p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @show.begin_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @show.end_date %>
</p>

<p>
  <strong>Open to public:</strong>
  <%= @show.open_to_public %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @show.gallery_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
