<%= form_for(current_user, url: registration_path(current_user), html: { method: :put, class: "edit_user_settings" }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <br />

    <div class="field">
      <%= f.label :my_referral_code %><br />
      <%= f.text_field :my_referral_code %>
    </div>
   
    <br />

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit "Update", class:"button medium bright-blue-background" %>
    </div>

<% end %>