<!DOCTYPE html>
<html>
	<head>
	  <title>Projectcanaryair</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="Buy and Sell Original Art Worldwide.">

	</head>

	<body>

		<%# unless @hide_header %>
			<%= render 'headers/header' %>
		<%#end%>
		<%# render 'layouts/mobile_menu' %>

		<div class="content-container <% unless @hide_header %>open-page <% end %>">

			<%# flash.each do |name, msg| %>
     			<%# content_tag(:div, msg, class: "alert alert-#{name}") %>
			<%# end %>

			<%= yield %>

		</div>

		<% if user_signed_in? %>

			<%# render 'layouts/mobile_action_footer' %>

		<%end%>

		<% unless @hide_footer %>

			<%= render 'layouts/footer' %>

		<%end%>

	</body>

</html>
