<!DOCTYPE html>
<html>
	<head>
	  <title>ArtYam <% if @main_SEO_title %>| Sell More Art in Cafes, Restaurants, and Spas | <%= @main_SEO_title %><%end%></title>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="ArtYam helps artists make more money with instant payment processing and engagement tracking for public art displays.">

		<% if Rails.env == 'production' %>
  		
  			<script>

			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-86085006-1', 'auto');
			  ga('send', 'pageview');

			</script>

		<% end %>



	</head>

	<body>

		<%# unless @hide_header %>
			<%= render 'headers/header' %>
		<%#end%>
		<%# render 'layouts/mobile_menu' %>

		<div class="content-container <% unless @hide_header %>open-page <% end %>">

			<%# flash.each do |name, msg| %>
     			<%# content_tag(:div, msg, class: "alert alert-#{name}") %>
			<%# end %>

			<%= yield %>

		</div>

		<% if user_signed_in? %>

			<% if @display_mobile_action_footer %>
				<%= render 'layouts/mobile_action_footer' %>
			<%end%>


		<%end%>


		<% unless @hide_footer %>

			<%# render 'layouts/footer' %>

		<%end%>

	</body>

	<footer>

		

	</footer>

</html>
